<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>바이온텍</title>
	<div id="header"></div>
	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Roboto%7cRubik:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme-vendors.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/vendor/fresco/css/fresco.css">
	<link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
	<!-- js -->
		<!-- Swiper JS -->		
	<script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body class="woocommerce single">
		<div id="wrap" class="no-padding-top">
			<div class="container-fluid no-padding">
				<div class="width-100">
				  <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/editor/goods/200702/cate_top_bnr01_103752.jpg" class="sm-display-none" alt="카테고리 배너 이미지">
				  <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/editor/goods/200702/cate_top_bnr01_103805.jpg" class="display-none sm-display-block" alt="카테고리 배너 이미지 모바일용">
				</div>
			 </div>
			 <div class="container">
				<!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
				<section id="pageDivision">
					<!-- 공통 타이틀 스타일 (title-style-short) -->
					<div class="title-contain-short">
						<h1 class="title-style title-style-middle-regular title-dark-color">뉴스</h1>
					</div>
			 </section>
			 <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ -->
				<!-- ================ 분리 section 2단 :: 상품 상세정보 영역  ================ -->
				<section class="detail-paging-expl-content-wrap">
					<div>
					 <div class="shop--element-product-list">
						 <div class="tabs-content">
							 <div class="tabs-pane fade active in"> 
								 <!-- 탭 내부 본문 setction -->
								 <div class="thumbnail-content-wrap row">
									 <div class="content-list-element product-list-element news-thumbnail col-xs-6 col-sm-4 col-lg-3"> <!-- 반복) 이미지 목록 -->
										 <div class="product-tumbnail-boxing"> <!-- 상품 이미지 -->
											 <a href=""><img src="../../assets/img/board_img/news_list_img01.jpeg" alt="뉴스 이미지 썸네일"></a>
										 </div>
										 <div class="product-name-boxing"> <!-- 상품 제목/설명 -->
											 <p class="name"><a href="newsView.do?idx=${i.bn_idx}">바이온텍 조규대 대표, "고객 니즈·기술혁신 담은 이온수기... 글로벌 생활가전 도전"</a></p>
										 </div>
									 </div>
									 <div class="content-list-element product-list-element news-thumbnail col-xs-6 col-sm-4 col-lg-3"> <!-- 반복) 이미지 목록 -->
										 <div class="product-tumbnail-boxing"> <!-- 상품 이미지 -->
											 <a href=""><img src="../../assets/img/board_img/news_list_img02.png" alt="뉴스 이미지 썸네일"></a>
										 </div>
										 <div class="product-name-boxing"> <!-- 상품 제목/설명 -->
											 <p class="name"><a href="newsView.do?idx=${i.bn_idx}">홈앤쇼핑, 바이온텍 '알칼리 이온수기' 선봬</a></p>
										 </div>
									 </div>
									 <div class="content-list-element product-list-element news-thumbnail col-xs-6 col-sm-4 col-lg-3"> <!-- 반복) 이미지 목록 -->
										 <div class="product-tumbnail-boxing"> <!-- 상품 이미지 -->
											 <a href=""><img src="../../assets/img/board_img/news_list_img03.png" alt="뉴스 이미지 썸네일"></a>
										 </div>
										 <div class="product-name-boxing"> <!-- 상품 제목/설명 -->
											 <p class="name"><a href="newsView.do?idx=${i.bn_idx}">바이온텍, 일본 '2023 도쿄 K-Product 프리미엄 소비재전' 참가</a></p>
										 </div>
									 </div>
									 <div class="content-list-element product-list-element news-thumbnail col-xs-6 col-sm-4 col-lg-3"> <!-- 반복) 이미지 목록 -->
										 <div class="product-tumbnail-boxing"> <!-- 상품 이미지 -->
											 <a href=""><img src="../../assets/img/board_img/news_list_img04.png" alt="뉴스 이미지 썸네일"></a>
										 </div>
										 <div class="product-name-boxing"> <!-- 상품 제목/설명 -->
											 <p class="name"><a href="newsView.do?idx=${i.bn_idx}">“기능수 시대, 건강증진은 물론 농축산업의 혁명적 변화도 가능”</a></p>
										 </div>
									 </div>
									 <div class="content-list-element product-list-element news-thumbnail col-xs-6 col-sm-4 col-lg-3"> <!-- 반복) 이미지 목록 -->
										 <div class="product-tumbnail-boxing"> <!-- 상품 이미지 -->
											 <a href=""><img src="../../assets/img/board_img/news_list_img05.png" alt="뉴스 이미지 썸네일"></a>
										 </div>
										 <div class="product-name-boxing"> <!-- 상품 제목/설명 -->
											 <p class="name"><a href="newsView.do?idx=${i.bn_idx}">가정의달 앞두고 판촉전 불붙어</a></p>
										 </div>
									 </div>
								 </div>
								 <!-- // 탭 내부 본문 section -->
								<div class="board-type-input margin-50px-top margin-auto-lr width-fit-content">
									<span class="input-date select-span position-relative">
									<select id="time" place="" class="input-date" onchange="search();">
										<option value="">기간</option>
										<option value="week">일주일</option>
										<option value="month">한달 </option>
									</select>
									<span class="select-icon fa fa-angle-down"></span>
								</span>
								<span class="input-title select-span position-relative">
									<select id="input_type" place="" class="input-title" onchange="search();">
										<option value="title">제목</option>
										<option value="content">내용</option>
										<option value="ticon">제목+내용</option>
									</select>
									<span class="select-icon fa fa-angle-down"></span>
								</span>
								<span class="input-search">
									<input type="text" id="input" class="input-search" value="">
									<button type="button" class="search-btn" onclick="search();">검색</button>
								</span>
								</div>
								<!-- 게시판 페이지 버튼(pagination) 영역 -->
								<div class="pagination no-margin padding-50px-top"> 
									<a class="on">1</a>
									<a onclick="">2</a>
								</div>
								<!-- // 게시판 페이지 버튼(pagination) 영역 -->
							 </div>
						 </div>
					 </div>  
					</div>
					
				</section>
				<!-- ================ // 분리 section 2단 :: 상품 상세정보 영역  ================ -->
		 </div>
		</div>
		<div id="footer"></div>
	</body>
<!-- js -->


<script type="text/javascript" src="../../assets/js/vendor/modernizr.min.js"></script>
<!--<script type="text/javascript" src="./assets/js/vendor/jquery.min.js"></script>	-->
<script type="text/javascript" src="../../assets/js/vendor/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/theme-vendors.js"></script>	
<script type="text/javascript" src="../../assets/js/vendor/theme.min.js"></script>	

<script type="text/javascript" src="../../assets/js/vendor/fresco/js/fresco.js"></script>

<script type="text/javascript" src="../../assets/js/common.js"></script>	
<script type="text/javascript">
	$(function() {
		$("#header").load('../include/header.html');
		$("#footer").load('../include/footer.html');
	});
</script>
</html>
