<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <meta id="meta_description" name="description" content="">
    <meta id="meta_keywords" name="keywords" content="">
	<title>바이온텍</title>
    <div id="header"></div>

	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Roboto%7cRubik:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme-vendors.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/vendor/fresco/css/fresco.css">
    <link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    
	<!-- js -->
		<!-- Swiper JS -->		
	<script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body class="woocommerce single">
    <div id="wrap">
        <div class="container">
               <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
               <section class="paging-head-content-wrap">
                   <!-- 공통 타이틀 스타일 (title-style-middle) -->
                   <div class="title-contain-middle">
                       <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">주문완료</h1>
                    <p class="cart-process title-style title-style-middle-medium title-dark-color display-inline-block float-right">
                        <span>01. 장바구니</span>
                        <span class="fa fa-angle-right font-weight-700 margin-10px-lr"></span>
                        <span>02. 주문서작성</span>
                        <span class="fa fa-angle-right font-weight-700 margin-10px-lr"></span>
                        <span class="process-now">03. 주문완료</span>
                    </p>
                </div>
            </section>
            <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ -->
                    
            <!-- ================ 분리 section 2단 :: 주문완료 조회 영역  ================ -->
            <section class="margin-90px-bottom">
                <div class="order-content-wrap">
                    <h3><span class="ti-check-box"></span></h3>
                    <h6 class="font-weight-600">고객님의 주문이 완료 되었습니다.</h6>
                    <p class="text-sm-small-medium text-deep-gray">주문내역 및 배송에 관한 안내는 <a class="font-weight-700 text-main border-bottom">주문조회</a>를 통하여 확인 가능합니다.</p>
                    <div class="order-info-content margin-25px-top text-sm-small-medium">
                        <p class="order-number bg-main width-fit-content margin-auto text-white padding-5px-tb padding-10px-lr border-radius-20px">주문번호: <span>2304022652177</span></p>
                        <p class="order-date text-deep-gray margin-5px-top">주문일자: <span>2023.08.08</span></p>
                    </div>
                </div>
            </section>
            <!-- ================ // 분리 section 2단 :: 주문완료 조회 영역  ================ -->
                    
            <!-- ================ 분리 section 3단 :: 상품 table 영역  ================ -->
            <section class="margin-90px-bottom">
                <p class="multi-form-title-content no-margin border-none">주문 상품 정보</p>
                <table class="table basic_table_element shop_cart_table shop_prd_inq_table xs_table_block">
                    <thead class="xs-display-none">
                        <tr>
                            <th style="width: 120px"></th>
                            <th style="width: auto">상품정보</th>
                            <th style="width: 150px">수량</th>
                            <th style="width: 120px">마일리지</th>
                            <th style="width: 120px">배송비</th>
                            <th style="width: 120px">주문금액</th>
                            <th style="width: 120px">합계</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="상품이미지"></td>
                            <td class="">
                                바이온텍 알칼리 이온수기 BTM-1800
                            </td>
                            <td><p>1</p></td>
                            <td><span>49,800</span>P</td>
                            <td><span>0</span>원</td>
                            <td><span>2,490,000</span>원</td>
                            <td><b><span>2,490,000</span>원</b></td>
                        </tr>
                        <tr>
                            <td><img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/09/39/1000000037/1000000037_detail_074.jpg"></td>
                            <td class="">
                                바이온텍 텀블러형 수소수기 BTH-101T 수소수 생성기
                            </td>
                            <td><p>1</p></td>
                            <td><span>7,900</span>P</td>
                            <td><span>0</span>원</td>
                            <td><span>398,000</span>원</td>
                            <td><b><span>398,000</span>원</b></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <!-- ================ // 분리 section 3단 :: 상품 table 영역 ================ -->
                    
            
                    
            <!-- ================ 분리 section 4단 :: 결제정보 영역  ================ -->
            <section>
                <div class="table-form-element">
                    <p class="multi-form-title-content no-margin">결제정보</p>
                    <table class="table resert_table basic_resert">
                        <tbody>
                            <tr>
                                <th><b>총 상품 금액</b></th>
                                <td><p><span>2,529,800</span> 원</p></td>
                            </tr>
                            <tr>
                                <th><b>총 할인 금액</b></th>
                                <td><p><span>0</span> 원</p></td>
                            </tr>
                            <tr>
                                <th><b>배송비</b></th>
                                <td><p><span>0</span> 원</p></td>
                            </tr>
                            <tr>
                                <th><b>최종 결제금액</b></th>
                                <td><p class="text-main"><b><span>2,529,800</span> 원</b></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- ================ // 분리 section 4단 :: 결제정보 영역  ================ -->
            
            <!-- ================ 분리 section 5단 :: 결제수단 영역  ================ -->
            <section>
                <div class="table-form-element">
                    <p class="multi-form-title-content no-margin">결제수단</p>
                    <table class="table resert_table basic_resert">
                        <tbody>
                            <tr>
                                <th><b>결제 금액</b></th>
                                <td><p><span>2,529,800 </span> 원</p></td>
                            </tr>
                            <tr>
                                <th><b>결제수단</b></th>
                                <td><p><span>실시간 계좌이체</span></p></td>
                            </tr>
                            <tr>
                                <th>결제상태</th>
                                <td><p><span class="">입금대기</span></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- ================ // 분리 section 5단 :: 결제수단 영역  ================ -->
            
            <!-- ================ 분리 section 6단 :: 배송지 정보 영역  ================ -->
            <section>
                <div class="table-form-element">
                    <p class="multi-form-title-content no-margin">배송지 정보</p>
                    <table class="table resert_table basic_resert">
                        <tbody>
                            <tr>
                                <th><b>받으시는 분</b></th>
                                <td><p><span>홍길동</span></p></td>
                            </tr>
                            <tr>
                                <th><b>우편번호</b></th>
                                <td><p><span>48392</span></p></td>
                            </tr>
                            <tr>
                                <th><b>주소</b></th>
                                <td><p><span>서울특별시 동대문구 이문동</span></p></td>
                            </tr>
                            
                            <tr>
                                <th><b>휴대전화</b></th>
                                <td><p><span>01019840313</span></p></td>
                            </tr>
                            <tr>
                                <th><b>배송메시지</b></th>
                                <td><p><span>부재시 경비실에 맡겨주세요.</span></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- ================ // 분리 section 6단 :: 배송지 정보 영역  ================ -->
                    
            <!-- ================ 분리 section 7단 :: 주문확인 버튼 영역  ================ -->
            <section>
                <div class="display-width-medium">
                    <div class="row no-margin submit-btn-content">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 sub-btn"><button type="button" onclick="">쇼핑계속하기</button></div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 main-btn"><button type="button" onclick="k">결제취소</button></div>
                    </div>
                </div>
            </section>
              <!-- ================ // 분리 section 7단 :: 주문확인 버튼 영역  ================ -->
                          
              <!-- ================ 분리 section 8단 :: 이용안내 영역  ================ -->
            <section class="margin-90px-top">
                <div class="guide-content"> <!-- 상품 구매 안내 콘텐츠 1 : 이용안내 -->
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 guide-title sm-margin-25px-bottom"><p>이용안내</p></div>
                        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 guide-text">
                            <ul>
                                <li class="font-weight-700">WindowXP 서비스팩2를 설치하신후 결제가 정상적인 단계로 처리되지 않는경우, 아래의 절차에 따라 해결하시기 바랍니다.</li>  
                                <li>· 안심클릭 결제모듈이 설치되지 않은 경우 ActiveX 수동설치</li>
                                <li>· Service Pack 2에 대한 Microsoft사의 상세안내</li>
                            </ul>
                            <ul>
                                <li class="font-weight-700">아래의 쇼핑몰일 경우에는 모든 브라우저 사용이 가능합니다.</li>  
                                <li>· KG이니시스, KCP, LG U+를 사용하는 쇼핑몰일 경우</li>
                                <li>· 결제가능브라우저 : 크롬,파이어폭스,사파리,오페라 브라우저에서 결제 가능 (단, window os 사용자에 한하며 리눅스/mac os 사용자는 사용불가)</li>
                                <li>· 최초 결제 시도시에는 플러그인을 추가 설치 후 반드시 브라우저 종료 후 재시작해야만 결제가 가능합니다.(무통장, 휴대폰결제 포함)</li>
                            </ul>
                             <ul>
                                <li class="font-weight-700">세금계산서 발행 안내</li>  
                                <li>· 부가가치세법 제 54조에 의거하여 세금계산서는 배송완료일로부터 다음달 10일까지만 요청하실 수 있습니다.</li>
                                <li>· 세금계산서는 사업자만 신청하실 수 있습니다.</li>
                                <li>· 배송이 완료된 주문에 한하여 세금계산서 발행신청이 가능합니다.</li>
                                <li>· [세금계산서 신청]버튼을 눌러 세금계산서 신청양식을 작성한 후 팩스로 사업자등록증사본을 보내셔야 세금계산서 발생이 가능합니다.</li>
                                <li>· [세금계산서 인쇄]버튼을 누르면 발행된 세금계산서를 인쇄하실 수 있습니다.</li>
                            </ul>
                            <ul>
                                <li class="font-weight-700">부가가치세법 변경에 따른 신용카드매출전표 및 세금계산서 변경안내</li>  
                                <li>· 변경된 부가가치세법에 의거, 2004.7.1 이후 신용카드로 결제하신 주문에 대해서는 세금계산서 발행이 불가하며
                                <br>
                                    신용카드매출전표로 부가가치세 신고를 하셔야 합니다.(부가가치세법 시행령 57조)
                                </li>
                                <li>· 상기 부가가치세법 변경내용에 따라 신용카드 이외의 결제건에 대해서만 세금계산서 발행이 가능함을 양지하여 주시기 바랍니다.</li>
                            </ul>
                            <ul>
                                <li class="font-weight-700">현금영수증 이용안내</li>  
                                <li>· 현금영수증은 1원 이상의 현금성거래(무통장입금, 실시간계좌이체, 에스크로, 예치금)에 대해 발행이 됩니다.</li>
                                <li>· 현금영수증 발행 금액에는 배송비는 포함되고, 적립금사용액은 포함되지 않습니다.</li>
                                <li>· 발행신청 기간제한 현금영수증은 입금확인일로 부터 48시간안에 발행을 해야 합니다.</li>
                                <li>· 현금영수증 발행 취소의 경우는 시간 제한이 없습니다. (국세청의 정책에 따라 변경 될 수 있습니다.)</li>
                                <li>· 현금영수증이나 세금계산서 중 하나만 발행 가능 합니다.</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- // 상품 구매 안내 콘텐츠 1 : 배송정보 -->
            </section>
              <!-- ================ 분리 section 8단 :: 이용안내 영역  ================ -->
        </div>
    </div>
<div id="footer"></div>
</body>



<!-- js -->


<script type="text/javascript" src="../../assets/js/vendor/modernizr.min.js"></script>
<!--<script type="text/javascript" src="./assets/js/vendor/jquery.min.js"></script>	-->
<script type="text/javascript" src="../../assets/js/vendor/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/theme-vendors.js"></script>	
<script type="text/javascript" src="../../assets/js/vendor/theme.min.js"></script>	

<script type="text/javascript" src="../../assets/js/vendor/fresco/js/fresco.js"></script>

<script type="text/javascript" src="../../assets/js/common.js"></script>	
<script type="text/javascript">
	$(function() {
		$("#header").load('../include/header.html');
		$("#footer").load('../include/footer.html');
	});
</script>
</html>