<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <meta id="meta_description" name="description" content="">
    <meta id="meta_keywords" name="keywords" content="">
	<title>바이온텍</title>
    <div id="header"></div>

	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Roboto%7cRubik:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme-vendors.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/vendor/fresco/css/fresco.css">
    <link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    
	<!-- js -->
		<!-- Swiper JS -->		
	<script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body class="woocommerce single">
    <div id="wrap" class="no-padding-top">
        <section class="highest-wrap">
         <div class="container">
             <!-- ================ 분리 div 1단 :: 타이틀 영역  ================ -->
                <div class="paging-head-content-wrap">
                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                    <div class="title-contain-short">
                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">마이페이지</h1>
                 </div>
             </div>
             <!-- ================ // 분리 div 1단 :: 타이틀 영역  ================ -->
             <!-- ================ 분리 div 2단 :: 회원 /상품 정보 영역  ================ -->
             <div class="cart--member-payment-content">
                 <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12">
                         <div class="shop-member-class-card">
                             <div class="shop-member-class-info">
                                 <p class="display-inline-block float-left">김영훈 님은, <span class="text-main font-weight-700">일반회원</span> 입니다.</p>
                                 <p class="display-inline-block float-right font-weight-700"><a>등급혜택 <span class="ti-angle-right text-small"></span></a></p>
                             </div>
                             <hr>
                             <div class="shop-member-class-point">
                                 <p class="display-inline-block float-left margin-16px-bottom">가용적립금</p>
                                 <p class="display-inline-block float-right"><span class="text-main">1,000,000</span> P</p>
                             </div>
                             <div class="shop-member-class-point">
                                     <p class="display-inline-block float-left">쿠폰</p>
                                     <p class="display-inline-block float-right"><a><span class="text-main">100</span> 장 <span class="ti-angle-right text-small"></span></a></p>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-8 col-md-6 col-sm-12">
                          <div class="shop-member-class-card md-margin-50px-top">
                             <div class="shop-member-class-info">
                                 <p class="display-inline-block">나의 주문처리 현황 <a class="text-small margin-5px-left cursor-auto"> (최근 <span class="text-main">3개월</span> 기준)</a></p>
                             </div>
                             <hr>
                             <div class="shop-member-class-order">
                                 <div class="card-division">
                                     <p class="order-title">입금전</p>
                                     <p class="order-number"><a>0</a></p>
                                 </div>
                                 <div class="card-division">
                                     <p class="order-title">배송준비중</p>
                                     <p class="order-number"><a>0</a></p>
                                 </div>
                                 <div class="card-division">
                                     <p class="order-title">배송중</p>
                                     <p class="order-number"><a>0</a></p>
                                 </div>
                                 <div class="card-division">
                                     <p class="order-title">배송완료</p>
                                     <p class="order-number"><a>0</a></p>
                                 </div>
                                 <div class="card-division">
                                     <p class="order-title">취소 / 교환 / 반품</p>
                                     <p class="order-number"><a>2</a></p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- ================ // 분리 div 2단 :: 회원 /상품 정보 영역  ================ -->
         </div>
            </section>
            <div class="container">
             <div class="row">
                 <section>
                     <div class="col-md-12">
                         <div class="product margin-50px-top">
                             <div class="woocommerce-tabs vertical-tabs">
                                 <div class="tabs">
                                     <ul class="tabs-nav tabs-main-text lg-display-border-right-gray col-lg-2 col-md-2 col-sm-12 col-xs-12" role="tablist">
                                         <li class="description_tab active" id="tab-title-order">
                                             <a data-toggle="tab" href="#tab-order">주문 내역</a>
                                         </li>
                                         <li class="additional_information_tab" id="tab-title-member">
                                             <a data-toggle="tab" href="#tab-member">회원 정보 수정</a>
                                         </li>
                                         <li class="reviews_tab" id="tab-title-like">
                                             <a data-toggle="tab" href="#tab-like">관심 상품</a>
                                         </li>
                                         <li class="reviews_tab" id="tab-title-point">
                                             <a data-toggle="tab" href="#tab-point">적립금</a>
                                         </li>
                                         <li class="reviews_tab" id="tab-title-coupon">
                                             <a data-toggle="tab" href="#tab-coupon">쿠폰</a>
                                         </li>
                                         <li class="reviews_tab" id="tab-title-board">
                                             <a data-toggle="tab" href="#tab-board">게시물 관리</a>
                                         </li>
                                         <li class="reviews_tab" id="tab-title-address">
                                             <a data-toggle="tab" href="#tab-address">배송 주소록 관리</a>
                                         </li>
                                         <li class="reviews_tab" id="tab-title-quantity">
                                             <a data-toggle="tab" href="#tab-quantity">대량구매 문의 관리</a>
                                         </li>
                                         <li class="reviews_tab" id="tab-title-class">
                                             <a data-toggle="tab" href="#tab-class">등급혜택</a>
                                         </li>
                                     </ul>
                                     <div class="col-lg-1 col-md-1 sm-display-none"></div>
                                     <!-- 주문 내역 tab 본문 -->
                                     <div class="tabs-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                         <div class="tabs-pane fade active in" id="tab-order">
                                             <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                <section class="paging-head-content-wrap">
                                                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                    <div class="title-contain-short">
                                                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">주문조회</h1>
                                                        <h2 class="title-style title-style-middle-medium title-sub-dark-color">
                                                         · 기본적으로 최근 3개월간의 자료가 조회되며, 기간 검색시 지난 주문내역을 조회하실 수 있습니다.<br>
                                                         · 주문번호를 클릭하시면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.
                                                     </h2>
                                                 </div>
                                             </section>
                                             <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ --> 
                                         </div>
                                         <!-- // 주문 내역 tab 본문 -->
                                         
                                         <!-- 대량구매 문의 관리 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-quantity">
                                             <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                <section class="paging-head-content-wrap md-no-padding-bottom">
                                                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                    <div class="title-contain-short">
                                                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">대량구매문의 관리</h1>
                                                        <h2 class="title-style title-style-middle-medium title-sub-dark-color">고객님이 요청하신 상품 대량구매문의 내역입니다.</h2>
                                                 </div>
                                             </section>
                                             <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ --> 
                                             
                                             
                                         </div>
                                         <!-- // 대량구매문의 tab 본문 -->
                                                 
                                         <!-- 회원 정보 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-member" role="tabpanel">
                                             <div class="display-width-medium multi-form-style-content-sizing no-margin">
                                                    <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                    <section class="paging-head-content-wrap">
                                                        <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                        <div class="title-contain-short">
                                                            <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">회원 정보 수정</h1>
                                                     </div>
                                                 </section>
                                                 <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ -->
                                                    
                                             </div>
                                         </div>
                                         <!-- // 회원 정보 tab 본문 -->
                                         
                                         <!-- 관심 상품 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-like">
                                             <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                <section class="paging-head-content-wrap">
                                                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                    <div class="title-contain-short">
                                                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">관심 상품 </h1>
                                                 </div>
                                             </section>
                                             <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ -->
                                             
                                         </div>
                                         <!-- // 관심 상품 tab 본문 -->
                                         
                                         <!-- 적립금 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-point">
                                             <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                <section class="paging-head-content-wrap">
                                                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                    <div class="title-contain-short">
                                                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">적립금 </h1>
                                                        <h2 class="title-style title-style-middle-medium title-sub-dark-color">고객님의 사용가능 적립금 금액 입니다.</h2>
                                                 </div>
                                             </section>
                                             <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ --> 
                                         
                                            
                                         </div>
                                         <!-- // 적립금 tab 본문 -->
                                         
                                         <!-- 쿠폰 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-coupon">
                                             <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                <section class="paging-head-content-wrap">
                                                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                    <div class="title-contain-short">
                                                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">쿠폰</h1>
                                                 </div>
                                             </section>
                                             <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ --> 
                                             
                                             
                                         </div>
                                         <!-- // 쿠폰 tab 본문 -->
                                         
                                         <!-- 게시물 관리 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-board">
                                             <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                <section class="paging-head-content-wrap">
                                                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                    <div class="title-contain-short">
                                                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">게시물 관리</h1>
                                                 </div>
                                             </section>
                                             <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ --> 
                                             
                                             
                                         </div>
                                         <!-- // 게시물 관리 tab 본문 -->
                                         
                                         <!-- 배송 주소록 관리 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-address">
                                             <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                <section class="paging-head-content-wrap">
                                                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                    <div class="title-contain-short">
                                                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">배송 주소록 관리 </h1>
                                                        <h2 class="title-style title-style-middle-medium title-sub-dark-color">자주 쓰는 배송지를 등록 관리하실 수 있습니다.</h2>
                                                 </div>
                                             </section>
                                             <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ --> 
                                         </div>
                                         <!-- // 배송 주소록 관리 tab 본문 -->
                                         
                                         <!-- 대량구매 문의 관리 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-quantity">
                                             <!-- ================ 분리 section 1단 :: 타이틀 영역  ================ -->
                                                <section class="paging-head-content-wrap md-no-padding-bottom">
                                                    <!-- 공통 타이틀 스타일 (title-style-middle) -->
                                                    <div class="title-contain-short">
                                                        <h1 class="title-style title-style-middle-regular title-dark-color display-inline-block">대량구매문의 관리</h1>
                                                        <h2 class="title-style title-style-middle-medium title-sub-dark-color">고객님이 요청하신 상품 대량구매문의 내역입니다.</h2>
                                                 </div>
                                             </section>
                                             <!-- ================ // 분리 section 1단 :: 타이틀 영역  ================ --> 
                                         </div>
                                         <!-- // 대량구매 문의 관리 tab 본문 -->
                                         
                                         <!-- 등급혜택 tab 본문 -->
                                         <div class="tabs-pane fade" id="tab-class">
                                             <h2 class="mt-0">9</h2>
                                         </div>
                                         <!-- // 등급혜택 tab 본문 -->
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </section>
             </div>
         </div>
     </div>
<div id="footer"></div>
</body>



<!-- js -->


<script type="text/javascript" src="../../assets/js/vendor/modernizr.min.js"></script>
<!--<script type="text/javascript" src="./assets/js/vendor/jquery.min.js"></script>	-->
<script type="text/javascript" src="../../assets/js/vendor/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/theme-vendors.js"></script>	
<script type="text/javascript" src="../../assets/js/vendor/theme.min.js"></script>	

<script type="text/javascript" src="../../assets/js/vendor/fresco/js/fresco.js"></script>

<script type="text/javascript" src="../../assets/js/common.js"></script>	
<script type="text/javascript">
	$(function() {
		$("#header").load('../../include/header.html');
		$("#footer").load('../../include/footer.html');
	});
</script>
</html>