<div class="container foot-none">
    <div class="row border-bottom border-color-medium-gray">
        <div class="col-sm-6 border-right md-border-right-none md-border-bottom border-color-medium-gray">
            <div class="border-color-medium-gray">
                <div class="board-category padding-20px-tb xs-padding-10px-tb padding-5px-lr xs-no-padding">
                    <h5 class="no-margin display-inline-block xs-text-medium"><a href="../../../static_code/view/board/noticeList.html">공지사항</a></h5>
                    <p class="title display-inline-block xs-display-block xs-no-margin"><a href="../../../static_code/view/board/noticeList.html"><span class="text-sm-large text-medium-gray xs-text-small">알칼리 이온수 생성기 BTM-1800 사용설명서</span></a></p>
                    <p class="display-inline-block float-right"><a href="../../../static_code/view/board/noticeList.html"><span class="ti-arrow-right line-height-27"></span></a></p>
                </div>
            </div>
        </div>
           <div class="col-xs-6">
            <div class="border-color-medium-gray">
                <div class="board-category padding-20px-tb xs-padding-10px-tb padding-5px-lr xs-no-padding">
                    <h5 class="no-margin display-inline-block xs-text-medium"><a href="../../../static_code/view/board/noticeList.html">이벤트</a></h5>
                    <p class="title display-inline-block xs-display-block xs-no-margin"><a href="../../../static_code/view/board/noticeList.html"><span class="text-sm-large text-medium-gray xs-text-small">바이온텍 8월 이벤트</span></a></p>
                    <p class="display-inline-block float-right"><a href="../../../static_code/view/board/noticeList.html"><span class="ti-arrow-right line-height-27"></span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class=" bg-very-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padding-20px-tb">
                <div class="footer-top-content padding-20px-bottom">
                    <ul>
                        <li><a href="index.do">홈</a></li>
                        <li class="xs-text-sm-small"><a class="#" onclick="openURL('useTerm');">이용약관</a></li>
                        <li class="xs-text-sm-small"><a class="#" onclick="openURL('privateInfo');">개인정보 처리방침</a></li>
                        <li class="xs-text-sm-small"><a class="#" onclick="openURL('useInfo');">이용안내</a></li>
                    </ul>
                </div>
                   <div class="col-xs-12 footer-bottom-content no-padding">
                    <div class="footer-logo-content col-lg-8 col-md-6 col-sm-12 col-xs-12 text-left">
                        <p class="margin-15px-bottom"><a><img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/skin/front/mo_designart/img/banner/1bb87d41d15fe27b500a4bfcde01bb0e_74309.png" alt="로고 이미지"></a></p>
                        <div class="footer-compony-info-content">
                            <div class="info-text ">
                                <p>(주)바이온텍라이프</p>
                                    <p>대표이사: 조규대</p>
                                <p>소재지: 경기도 군포시 공단로 298-15 (주)바이온텍</p>
                            </div>
                            <div class="info-text">
                                <p>사업자등록번호: 123-86-38628</p>
                                <p>통신판매업신고번호: 제2017-경기군포-0442호</p>
                                <!-- <p><a class="font-weight-700 text-main">[사업자정보확인]</a></p> -->
                            </div>
                            <div class="info-text">
                                <p>이메일주소: <a href="mailTo:marketing@bion-tech.com">marketing@bion-tech.com</a></p>
                                <p>대표번호: <a href="tel:1899-9336">1899-9336</a></p>
                                <p>팩스 :  031-429-3859</p>
                            </div>
                            <div class="info-text">
                                <p>호스팅제공: 엔에이치앤고도(주)</p>
                            </div>
                            <div class="info-text">
                                <p class="margin-20px-top">COPYRIGHT © BY www.bion-techmall.com ALL RIGHTS RESERVED

</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-compony-info-content col-lg-4 col-md-6 col-sm-12 col-xs-12 text-right sm-margin-30px-top sm-text-left">
                        <h5 class="no-margin">고객센터</h5>
                        <h3 class="margin-15px-tb"><a href="tel:1899-9336">1899-9336</a></h3>
                        <div class="info-text">
                            <p>평일 AM 09:00 ~ PM 07:00 / 토요일 AM 09:00 ~ PM 02:00</p>
                            <p>일요일/공휴일은 휴무</p>
                        </div>
                        <div class="info-text margin-15px-tb">
                            <p>기업은행: 40507039301132[(주)바이온텍라이프]</p>
                        </div>
                        <div class="info-text display-inline-block">
                            <p>
                                <a href="https://www.instagram.com/biontech__/" target="_blank"><img src="./assets/img/icon/sns/instagram.png" alt="인스타그램 링크" class="width-30px margin-10px-left"></a>
                                    
                                <a href="https://www.youtube.com/channel/UCdQHvRz2Lo__v-jsjeQMtNw" target="_blank"><img src="./assets/img/icon/sns/youtube.png" alt="유튜브 링크" class="width-30px margin-10px-left"></a>
                                <a href="http://blog.naver.com/biontech777" target="_blank"><img src="./assets/img/icon/sns/blog.png" alt="블로그 링크" class="width-30px margin-10px-left"></a>
                            </p>
                        </div>
                    </div>
                   </div>
            </div>
        </div>
    </div>
</footer>