<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FORD LMS | 나의 강의실</title>
	
	<div id="headerCopy"></div> 
	<div id="navCopy"></div> 
	<!-- css -->
	<link rel="shortcut icon" href="../../assets/image/icon/Favicon/favi-cust16(2).ico">
    <link rel="icon" href="../../assets/image/icon/Favicon/favi-cust16(2).ico">
    
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../../assets/css/themify-icons.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/mr_style.css">
    
	<!-- js -->
	<script type="text/javascript" src="../../assets/js/vendor/jquery.js"></script>
</head>
<body>
	<!-- section -->
	<section class="ford_banner">
		<div class="banner_wrap">
			<div class="banner_content">
				<h3 class="text-center text-white font-main">나의 강의실</h3>
				<h1 class="text-center text-white font-main">학습현황</h1>
				<hr>
			</div>
		</div>
	</section>
	<section class="ford-section-wrap ford-edu-board padding-50px-top padding-50px-bottom sm-padding-50px-top">
		<div class="container">
			<div class="row xs-padding-15px-lr">
				<div class="edu-board-main container">
					<div class="edu-board-row">
						<div class="edu-board-column">
							<div class="edu-borad-head">
								<p class="my-edu-class font-main-kr font-weight-600">
									<i class="ti-stats-up"></i>
									<a class="class-high-value font-weight-600">온라인</a> 
									<a class="class-row-value font-weight-600">~2023.12.20</a>
								</p>
							</div>    		
							<div class="edu-borad-content padding-20px-all">
								<div class="my-edu-class-info">
									<img src="https://storage.googleapis.com/static.fastcampus.co.kr/prod/uploads/202305/063258-494/%E1%84%8F%E1%85%B5%E1%84%8B%E1%85%AF%E1%84%83%E1%85%B3%E1%84%92%E1%85%A7%E1%86%BC.webp" class="cursor-pointer" onclick="location.href='../static_code/view/lecture/onDetail.html'">
									<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../static_code/view/lecture/onDetail.html">'혁신적 교육 프로그램을 통한 진로 촉진' 개론</a></p>
								</div>
								<div class="my-edu-class-status">
									<div class="my-edu-class-status-bar-wrap">
										<div class="my-edu-class-status-bar">
											<div class="my-edu-class-status-bar-rec" style="width:77%;"></div>
										</div>
									</div>
									<div class="my-edu-class-status-percent">
										<p class="font-main-kr font-weight-600">77%</p>
									</div>
								</div>
								<div class="my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
									<button class="width-100" onclick="location.href='../static_code/view/lecture/onDetail.html'">온라인 강의 학습하기
										<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
									</button>
								</div>
							</div>	
						</div>
						<div class="edu-board-column">
							<div class="edu-borad-head">
								<p class="my-edu-class font-main-kr font-weight-600">
									<i class="ti-stats-up"></i>
									<a class="class-high-value font-weight-600">온라인</a> 
									<a class="class-row-value font-weight-600">~2023.12.20</a>
								</p>
							</div>    		
							<div class="edu-borad-content padding-20px-all">
								<div class="my-edu-class-info">
									<img src="https://www.ford.co.uk/content/dam/guxeu/rhd/central/owners/service-and-maintenance/service-&amp;-repair/features/ford-servicing-eu-16x9-2160x1215-Modules-technician-and-customer-in-front-of-car.jpeg.renditions.original.png" class="cursor-pointer" onclick="location.href='../static_code/view/lecture/onDetail.html'">
									<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../static_code/view/lecture/onDetail.html">포드 에센셜 서비스(기초~중급)</a></p>
								</div>
								<div class="my-edu-class-status">
									<div class="my-edu-class-status-bar-wrap">
										<div class="my-edu-class-status-bar">
											<div class="my-edu-class-status-bar-rec" style="width:98%;"></div>
										</div>
									</div>
									<div class="my-edu-class-status-percent">
										<p class="font-main-kr font-weight-600">98%</p>
									</div>
								</div>
								<div class="my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
									<button class="width-100" onclick="location.href='../static_code/view/lecture/onDetail.html'">온라인 강의 학습하기
										<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
									</button>
								</div>
							</div>	
						</div>
						<div class="edu-board-column">
							<div class="edu-borad-head">
								<p class="my-edu-class font-main-kr font-weight-600">
									<i class="ti-stats-up"></i>
									<a class="class-high-value font-weight-600">오프라인</a> 
									<a class="class-row-value off font-weight-600">~2023.12.20</a>
								</p>
							</div>    		
							<div class="edu-borad-content padding-20px-all">
								<div class="my-edu-class-info">
									<img src="https://i.ytimg.com/vi/sSOK3pjdwE8/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AHUBoAC4AOKAgwIABABGEIgEyh_MA8=&amp;rs=AOn4CLDmhS4rX93SV3YTkHdoMEQAc55uuw" class="cursor-pointer" onclick="location.href='../static_code/view/lecture/onDetail.html'">
									<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../static_code/view/lecture/onDetail.html">LMS 실시간강의 상세매뉴얼 (FULL버전)</a></p>
								</div>
								<div class="my-edu-class-status off-survey">
									<div class="my-edu-class-status-bar-wrap">
										<div class="my-edu-class-status-bar">
											<div class="my-edu-class-status-bar-rec" style="width:43%;"></div>
										</div>
									</div>
									<div class="my-edu-class-status-percent">
										<p class="font-main-kr font-weight-600">43%</p>
									</div>
								</div>
								<div class="none-my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
									<button class="off-btn width-100" onclick="location.href='../static_code/view/lecture/onDetail.html'">오프라인 강의 학습하기
										<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
									</button>
								</div>
							</div>	
						</div>
						<div class="edu-board-column">
							<div class="edu-borad-head">
								<p class="my-edu-class font-main-kr font-weight-600">
									<i class="ti-stats-up"></i>
									<a class="class-high-value font-weight-600">온라인</a> 
									<a class="class-row-value font-weight-600">~2023.12.20</a>
								</p>
							</div>    		
							<div class="edu-borad-content padding-20px-all">
								<div class="my-edu-class-info">
									<img src="https://storage.googleapis.com/static.fastcampus.co.kr/prod/uploads/202305/063258-494/%E1%84%8F%E1%85%B5%E1%84%8B%E1%85%AF%E1%84%83%E1%85%B3%E1%84%92%E1%85%A7%E1%86%BC.webp" class="cursor-pointer" onclick="location.href='../static_code/view/lecture/onDetail.html'">
									<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../static_code/view/lecture/onDetail.html">'혁신적 교육 프로그램을 통한 진로 촉진' 개론</a></p>
								</div>
								<div class="my-edu-class-status">
									<div class="my-edu-class-status-bar-wrap">
										<div class="my-edu-class-status-bar">
											<div class="my-edu-class-status-bar-rec" style="width:13%;"></div>
										</div>
									</div>
									<div class="my-edu-class-status-percent">
										<p class="font-main-kr font-weight-600">13%</p>
									</div>
								</div>
								<div class="my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
									<button class="width-100" onclick="location.href='../static_code/view/lecture/onDetail.html'">온라인 강의 학습하기
										<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
									</button>
								</div>
							</div>	
						</div>
						<div class="edu-board-column">
							<div class="edu-borad-head">
								<p class="my-edu-class font-main-kr font-weight-600">
									<i class="ti-stats-up"></i>
									<a class="class-high-value font-weight-600">온라인</a> 
									<a class="class-row-value font-weight-600">~2023.12.20</a>
								</p>
							</div>    		
							<div class="edu-borad-content padding-20px-all">
								<div class="my-edu-class-info">
									<img src="https://www.ford.co.uk/content/dam/guxeu/rhd/central/owners/service-and-maintenance/service-&amp;-repair/features/ford-servicing-eu-16x9-2160x1215-Modules-technician-and-customer-in-front-of-car.jpeg.renditions.original.png" class="cursor-pointer" onclick="location.href='../static_code/view/lecture/onDetail.html'">
									<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../static_code/view/lecture/onDetail.html">포드 에센셜 서비스(기초~중급)</a></p>
								</div>
								<div class="my-edu-class-status">
									<div class="my-edu-class-status-bar-wrap">
										<div class="my-edu-class-status-bar">
											<div class="my-edu-class-status-bar-rec" style="width:35%;"></div>
										</div>
									</div>
									<div class="my-edu-class-status-percent">
										<p class="font-main-kr font-weight-600">35%</p>
									</div>
								</div>
								<div class="my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
									<button class="width-100" onclick="location.href='../static_code/view/lecture/onDetail.html'">온라인 강의 학습하기
										<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
									</button>
								</div>
							</div>	
						</div>
						<div class="edu-board-column">
							<div class="edu-borad-head">
								<p class="my-edu-class font-main-kr font-weight-600">
									<i class="ti-stats-up"></i>
									<a class="class-high-value font-weight-600">온라인</a> 
									<a class="class-row-value font-weight-600">~2023.12.20</a>
								</p>
							</div>    		
							<div class="edu-borad-content padding-20px-all">
								<div class="my-edu-class-info">
									<img src="https://i.ytimg.com/vi/sSOK3pjdwE8/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AHUBoAC4AOKAgwIABABGEIgEyh_MA8=&amp;rs=AOn4CLDmhS4rX93SV3YTkHdoMEQAc55uuw" class="cursor-pointer" onclick="location.href='../static_code/view/lecture/onDetail.html'">
									<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../static_code/view/lecture/onDetail.html">LMS 실시간강의 상세매뉴얼 (FULL버전)</a></p>
								</div>
								<div class="my-edu-class-status">
									<div class="my-edu-class-status-bar-wrap">
										<div class="my-edu-class-status-bar">
											<div class="my-edu-class-status-bar-rec" style="width:100%;"></div>
										</div>
									</div>
									<div class="my-edu-class-status-percent">
										<p class="font-main-kr font-weight-600">100%</p>
									</div>
								</div>
								<div class="my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
									<button class="width-100" onclick="location.href='../static_code/view/lecture/onDetail.html'">온라인 강의 학습하기
										<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
									</button>
								</div>
							</div>	
						</div>
					</div>
				</div>
	<div class="pagination">
					<a href="javascript:location='./qa_list.do?page=1&amp;option=&amp;sch_input='+encodeURIComponent('')" class="arrow" id="prevAll"></a> 
					<a href="javascript:location='./qa_list.do?page=1&amp;option=&amp;sch_input='+encodeURIComponent('')" class="arrow" id="prev"></a>
					<a href="javascript:location='./qa_list.do?page=0&amp;option=&amp;sch_input='+encodeURIComponent('')">1</a>
					<a href="javascript:location='./qa_list.do?page=0&amp;option=&amp;sch_input='+encodeURIComponent('')" class="arrow" id="next"></a>
					<a href="javascript:location='./qa_list.do?page=&amp;option=&amp;sch_input='+encodeURIComponent('')" class="arrow" id="nextAll"></a>
	</div>
	</div>
	</div>
</section>
<div id="footer"></div>
<!-- javascript libraries -->
<script type="text/javascript" src="../../assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<!-- slider -->
<script type="text/javascript" src="../../assets/js/vendor/slick.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/jquery.bxslider.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/jquery.simplyscroll.js"></script>
<!-- Customer JS -->	 
<script type="text/javascript" src="../../assets/js/common.js"></script>
<script type="text/javascript" src="../../assets/js/main.js"></script>

<script type="text/javascript">
	$(function() {
		$("#headerCopy").load('../../view/include/headerCopy.html');
		$("#navCopy").load('../../view/include/navCopy.html');
		$("#footer").load('../../view/include/footer.html');
	});
</script> 
</body>
</html>