<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORD LMS</title>
	<div id="headerCopy"></div> 
	<div id="navCopy"></div> 

	<!-- css -->
	<link rel="shortcut icon" href="../../assets/image/icon/Favicon/favi-cust16(2).ico">
    <link rel="icon" href="../../assets/image/icon/Favicon/favi-cust16(2).ico">
    
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../../assets/css/themify-icons.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/mr_style.css">
    
    <!-- js -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="../../assets/js/vendor/jquery.js"></script>
</head>
<body>
	<section class="ford-section-main-wrap">
	<!-- 메인화면 [나의 학습현황] 화면 // 최대 3개 까지 표시 -->
	<div class="container main-edu-wrap">
    	<p class="main-title-content position-relative"> 
    		<a class="font-main-kr text-main-color font-weight-300 margin-10px-bottom cursor-auto letter-spacing-minus-2">나의 학습현황</a> 
    		<a class="font-main-kr text-sub-color font-weight-600 position-absolute" href="#">+ 더 보기</a>
		</p>
	
		<div class="row xs-padding-15px-lr">
			<div class="edu-board-main container">
				<div class="edu-board-row">
					<div class="edu-board-column">
						<div class="edu-borad-head">
							<p class="my-edu-class font-main-kr font-weight-600">
								<i class="ti-stats-up"></i>
								<a class="class-high-value font-weight-600">온라인</a> 
								<a class="class-row-value font-weight-600">~2023.12.20</a>
							</p>
						</div>    		
						<div class="edu-borad-content padding-20px-all">
							<div class="my-edu-class-info">
								<img src="https://storage.googleapis.com/static.fastcampus.co.kr/prod/uploads/202305/063258-494/%E1%84%8F%E1%85%B5%E1%84%8B%E1%85%AF%E1%84%83%E1%85%B3%E1%84%92%E1%85%A7%E1%86%BC.webp" class="cursor-pointer" onclick="location.href='../lecture/onDetail.html'">
								<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../lecture/onDetail.html">'혁신적 교육 프로그램을 통한 진로 촉진' 개론</a></p>
							</div>
							<div class="my-edu-class-status">
								<div class="my-edu-class-status-bar-wrap">
									<div class="my-edu-class-status-bar">
										<div class="my-edu-class-status-bar-rec" style="width:77%;"></div>
									</div>
								</div>
								<div class="my-edu-class-status-percent">
									<p class="font-main-kr font-weight-600">77%</p>
								</div>
							</div>
							<div class="my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
								<button class="width-100" onclick="location.href='../lecture/onDetail.html'">온라인 강의 학습하기
									<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
								</button>
							</div>
						</div>	
					</div>
					<div class="edu-board-column">
						<div class="edu-borad-head">
							<p class="my-edu-class font-main-kr font-weight-600">
								<i class="ti-stats-up"></i>
								<a class="class-high-value font-weight-600">온라인</a> 
								<a class="class-row-value font-weight-600">~2023.12.20</a>
							</p>
						</div>    		
						<div class="edu-borad-content padding-20px-all">
							<div class="my-edu-class-info">
								<img src="https://www.ford.co.uk/content/dam/guxeu/rhd/central/owners/service-and-maintenance/service-&-repair/features/ford-servicing-eu-16x9-2160x1215-Modules-technician-and-customer-in-front-of-car.jpeg.renditions.original.png" class="cursor-pointer" onclick="location.href='../lecture/onDetail.html'">
								<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../lecture/onDetail.html">포드 에센셜 서비스(기초~중급)</a></p>
							</div>
							<div class="my-edu-class-status">
								<div class="my-edu-class-status-bar-wrap">
									<div class="my-edu-class-status-bar">
										<div class="my-edu-class-status-bar-rec" style="width:98%;"></div>
									</div>
								</div>
								<div class="my-edu-class-status-percent">
									<p class="font-main-kr font-weight-600">98%</p>
								</div>
							</div>
							<div class="my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
								<button class="width-100" onclick="location.href='../lecture/onDetail.html'">온라인 강의 학습하기
									<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
								</button>
							</div>
						</div>	
					</div>
					<div class="edu-board-column">
						<div class="edu-borad-head">
							<p class="my-edu-class font-main-kr font-weight-600">
								<i class="ti-stats-up"></i>
								<a class="class-high-value font-weight-600">오프라인</a> 
								<a class="class-row-value off font-weight-600">~2023.12.20</a>
							</p>
						</div>    		
						<div class="edu-borad-content padding-20px-all">
							<div class="my-edu-class-info">
								<img src="https://i.ytimg.com/vi/sSOK3pjdwE8/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AHUBoAC4AOKAgwIABABGEIgEyh_MA8=&rs=AOn4CLDmhS4rX93SV3YTkHdoMEQAc55uuw" class="cursor-pointer" onclick="location.href='../lecture/offSurvey.html'">
								<p class="my-edu-class-title font-main-kr font-weight-600"><a href="../lecture/offSurvey.html">LMS 실시간강의 상세매뉴얼 (FULL버전)</a></p>
							</div>
							<div class="my-edu-class-status off-survey">
								<div class="my-edu-class-status-bar-wrap">
									<div class="my-edu-class-status-bar">
										<div class="my-edu-class-status-bar-rec" style="width:43%;"></div>
									</div>
								</div>
								<div class="my-edu-class-status-percent">
									<p class="font-main-kr font-weight-600">43%</p>
								</div>
							</div>
							<div class="none-my-edu-class-button font-main-kr font-weight-600 margin-20px-top">
								<button class="off-btn width-100" onclick="location.href='../lecture/offSurvey.html'">오프라인 강의 학습하기
									<i class="ti-angle-double-right font-weight-600 margin-5px-left"></i>
								</button>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		
		<!-- 메인화면 [공지사항 / 자동차 뉴스 / 동영상 자료실] 화면 -->
    	<div class="main-content-wrap margin-auto">
        	<div class="row">
        <!-- [공지사항] -->
		<div class="col-md-4 padding-25px-lr">
			<!-- 타이틀 -->
			<p class="main-title-content position-relative margin-25px-bottom"> 
				<a class="main-title-content text-main-color font-weight-300 margin-10px-bottom font-main-kr cursor-auto letter-spacing-minus-2">공지사항</a> 
				<a class="font-main-kr text-sub-color font-weight-600 position-absolute" href="#">+ 더 보기</a>
			</p>
			<!-- 공지 내용 목록 -->
			<div class="main-notice-content-wrap">
				<div class="main-notice-content margin-15px-bottom">
					<p class="position-relative margin-5px-bottom">
						<a class="main-notice-content-title font-main-kr text-sub-color font-weight-300 letter-spacing-minus-1" href="#">개인정보처리방침 변경 안내</a>
						<a class="main-notice-content-date font-main-kr font-weight-300 position-absolute">2023. 08. 21</a>
					</p>
				</div>
				<div class="main-notice-content margin-15px-bottom">
					<p class="position-relative margin-5px-bottom">
						<a class="main-notice-content-title font-main-kr text-sub-color font-weight-300 letter-spacing-minus-1" href="#">강의 만족도 조사 시행문</a>
						<a class="main-notice-content-date font-main-kr font-weight-300 position-absolute">2022. 10. 12</a>
					</p>
				</div>
				
                <div class="main-notice-content margin-15px-bottom">
					<p class="position-relative margin-5px-bottom">
						<a class="main-notice-content-title font-main-kr text-sub-color font-weight-300 letter-spacing-minus-1" href="#">이용 약관 변경 안내</a>
						<a class="main-notice-content-date font-main-kr font-weight-300 position-absolute">2022. 09. 16</a>
					</p>
				</div>
                
			</div>
		</div>
				
			<!-- [자동차 뉴스] -->
			<div class="col-md-4 padding-25px-lr">
				<p class="main-title-content position-relative margin-25px-bottom"> 
					<a class="font-main-kr text-main-color font-weight-300 margin-10px-bottom cursor-auto letter-spacing-minus-2">자동차 뉴스</a> 
					<a class="font-main-kr text-sub-color font-weight-600 position-absolute" href="#">+ 더 보기</a>
				</p>
				<div class="row no-margin-right no-margin-left">  		
					<div onclick="location.href='#'" class="col-md-12 cursor-pointer padding-5px-right no-padding-left no-padding-top no-padding-bottom margin-10px-bottom">
						<div class="main-news-bg position-relative" style="background: url(https://www.ford.co.uk/content/dam/guxeu/rhd/central/owners/service-and-maintenance/service-&amp;-repair/servicing-your-ford/features/ford-servicing-eu-16x9-2160x1215-Modules-two-technicians-working-on-car.jpg.renditions.original.png);background-position: center;background-size: cover;">
							<div class="main-news-content padding-15px-all position-absolute width-100">
								<p class="main-news-title font-main-kr text-white overflow-hidden">포드만의 특화된 24시간 긴급출동 서비스</p>
								<p class="main-news-date font-main-kr text-white">2024.01.02</p>
							</div>
						</div>
					</div>
				</div>
			</div>
				
				<!-- [동영상 자료실] -->
				<div class="col-md-4 padding-25px-lr">
    				<p class="main-title-content position-relative margin-25px-bottom"> 
    					<a class="font-main-kr text-main-color font-weight-300 margin-10px-bottom cursor-auto letter-spacing-minus-2">동영상 자료실</a> 
    					<a class="font-main-kr text-sub-color font-weight-600 position-absolute" href="#">+ 더 보기</a>
    				</p>
    				<div class="row no-margin-right no-margin-left">  		
						<div onclick="location.href='#'" class="col-md-12 cursor-pointer padding-5px-right no-padding-left no-padding-top no-padding-bottom margin-10px-bottom">
        					<div class="main-news-bg position-relative" style="background: url(https://www.ford.co.kr/content/ford/kr/ko_kr/home/owner/how-to-videos/jcr:content/par/splitter_107470387/splitter0/mediacarouselitem/image.imgs.full.high.jpg);background-position: center;background-size: cover;">
        						<div class="main-news-content padding-15px-all position-absolute width-100">
    								<p class="main-news-title font-main-kr text-white overflow-hidden">차선 이탈 경보 시스템 설정 방법</p>
    								<p class="main-news-date font-main-kr text-white">2023.11.18</p>
								</div>
							</div>
						</div>
    				</div>
				</div>
			</div>
    	</div>
	</section>

	<div id="footer"></div>
	<!-- javascript libraries -->
	<script type="text/javascript" src="../../assets/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../assets/js/vendor/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../assets/js/vendor/imagesloaded.pkgd.min.js"></script>
	<!-- slider -->
	<script type="text/javascript" src="../../assets/js/vendor/slick.js"></script>
	<script type="text/javascript" src="../../assets/js/vendor/jquery.bxslider.js"></script>
	<script type="text/javascript" src="../../assets/js/vendor/jquery.simplyscroll.js"></script>
	<!-- Customer JS -->	 
	<script type="text/javascript" src="../../assets/js/common.js"></script>	
	<script type="text/javascript" src="../../assets/js/main.js"></script>

	<script type="text/javascript">
		$(function() {
			$("#headerCopy").load('../../view/include/headerCopy.html');
			$("#navCopy").load('../../view/include/navCopy.html');
			$("#footer").load('../../view/include/footer.html');
		});
	</script> 
	<!--<script type="text/javascript">
		$(function(){
			$('#gnbBtn').addClass('close');
		});
	</script>-->
</body>
</html>
