<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="naver-site-verification" content="${info.sp_si_naver}"/> 
<meta id="meta_description" name="description" content="${info.sp_si_description}">
<meta id="meta_keywords" name="keywords" content="${info.sp_si_keyword}">
<meta property="og:type" content="${info.sp_si_ogtype}">
<meta property="og:title" content="${info.sp_si_ogtitle}">
<meta property="og:description" content="${info.sp_si_ogdescription}">
<meta property="og:image" content="http://${info.sp_si_domain}${info.sp_si_ogimage}">
<meta property="og:url" content="${info.sp_si_ogurl}">
<link rel="shortcut icon" href="${info.sp_si_favicon}" />