<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <meta id="meta_description" name="description" content="">
    <meta id="meta_keywords" name="keywords" content="">
	<title>바이온텍</title>
    <div id="header"></div>

	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Roboto%7cRubik:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme-vendors.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/vendor/fresco/css/fresco.css">
    <link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    
	<!-- js -->
		<!-- Swiper JS -->		
	<script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body class="woocommerce single">
    <div id="wrap">
		<main id="content" class="content">
		
			<!-- 회원가입 선택 영역 -->
			<section class="vc_row pt-50 pb-50">
				<div class="container">

					<div class="row">

						<div class="col-md-12 text-center mb-60">

	       					<h1 class="title-style title-style-long-regular title-main-color">회원가입 선택</h1>

						</div><!-- /.lqd-column -->

					</div><!-- /.row -->

					<div class="row d-flex flex-wrap">

						<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 ">

							<a href="../../../static_code/view/member/memberSign.html">
								<div class="iconbox iconbox-semiround iconbox-shadow iconbox-filled-hover bg-sub">
	
									<div class="iconbox-icon-wrap">
										<span class="iconbox-icon-container">
		        							<img src="../../assets/img/icon/sign_in.png" class="width-100px height-auto">
										</span>
									</div>
	
									<div class="contents">
										<h3>일반 회원가입</h3>
									</div>
								
								</div>
							</a>
						
						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-4 ">

							<a href="../../../static_code/view/member/resslrrSign.html">
								<div class="iconbox iconbox-semiround iconbox-shadow iconbox-filled-hover bg-khaki">
	
									<div class="iconbox-icon-wrap">
										<span class="iconbox-icon-container">
		        							<img src="../../assets/img/icon/sign_in_reseller.png" class="width-100px height-auto">
										</span>
									</div>
	
									<div class="contents">
										<h3>리셀러 회원가입</h3>
									</div>
								
								</div>
							</a>
						
						</div><!-- /.col-md-6 -->
						
					</div><!-- /.row -->
						
				</div><!-- /.container -->
			</section>
			
			
		</main>
	</div>
<div id="footer"></div>
</body>



<!-- js -->


<script type="text/javascript" src="../../assets/js/vendor/modernizr.min.js"></script>
<!--<script type="text/javascript" src="./assets/js/vendor/jquery.min.js"></script>	-->
<script type="text/javascript" src="../../assets/js/vendor/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/theme-vendors.js"></script>	
<script type="text/javascript" src="../../assets/js/vendor/theme.min.js"></script>	

<script type="text/javascript" src="../../assets/js/vendor/fresco/js/fresco.js"></script>

<script type="text/javascript" src="../../assets/js/common.js"></script>	
<script type="text/javascript">
	$(function() {
		$("#header").load('../include/header.html');
		$("#footer").load('../include/footer.html');
	});
</script>
</html>