@charset "utf-8";
/* ----------------------------------
	00. Reset
    01. Typography
    02. color
    03. Background color
    04. Custom
    05. Margin
    06. Padding
    07. Display and float
    08. Position
    09. Width
    10. Height
    11. Page title
*/
/* ===================================
   font-face
====================================== */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
/* ===================================
    Reset
====================================== */
body, html {font-family: 'Nanum Gothic', sans-serif;font-size:14px;color:#555;font-weight:normal;-webkit-overflow-scrolling:touch;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;}
body, html {-moz-osx-font-smoothing:grayscale;}
a {color:#333}
a, a:active, a:focus {text-decoration:none;cursor:pointer;}
a:focus, a:active, button:focus, button:active,.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline:none;box-shadow:none !important;}
img {max-width:100%;height:auto;font-size:11px;white-space:normal;}
video {background-size:cover;display:table-cell;vertical-align:middle;width:100%;}
input, textarea, button {-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input, textarea, select {border:1px solid #ccc;font-size:14px;padding:8px 15px;width:100%;max-width:100%;resize:none;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;outline:none;}
input[type="submit"] { width: auto}
input[type="button"], input[type="text"], input[type="email"], input[type="tel"],input[type="search"], input[type="password"], textarea, input[type="submit"] {-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;box-shadow:none;}
input:focus, textarea:focus{border-color:#585858;outline:none;}
input[type="button"]:focus{outline:none;}
select::-ms-expand{display:none;}
select {height:100%;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;background-image:url(../image/icon/select.png);background-repeat:no-repeat;background-position:85% 50%;background-size:10px auto;}
iframe {border:0;}
p {margin:0;}
map, map area {outline:none}
ul, ol, dl {list-style-position:outside;list-style-type:none;margin-bottom:0;}
.h1, .h2, .h3, h1, h2, h3 {margin-top:0;margin-bottom:25px;font-weight:700}
.h4, .h5, .h6, h4, h5, h6 {margin-top:0;margin-bottom:0px;font-weight:700;line-height: 1.3;}
.h4, h4 {font-size:20px;}
.h5, h5 {font-size:18px;}
.h6, h6 {font-size:16px;}
*{margin:0; padding:0; }
*:hover{transition-timing-function: ease-in-out;-ms-transition-timing-function:ease-in-out;-moz-transition-timing-function:ease-in-out;-webkit-transition-timing-function:ease-in-out; -o-transition-timing-function:ease-in-out;transition-duration:.2s;-ms-transition-duration:.2s;-moz-transition-duration:.2s;-webkit-transition-duration:.2s;-o-transition-duration:.2s;}
*:hover:before{transition-timing-function:ease-in-out;-ms-transition-timing-function:ease-in-out;-moz-transition-timing-function:ease-in-out;-webkit-transition-timing-function:ease-in-out;-o-transition-timing-function:ease-in-out;transition-duration:.2s;-ms-transition-duration:.2s;-moz-transition-duration:.2s;-webkit-transition-duration:.2s;-o-transition-duration:.2s;}
::selection {color:#333;background:#bdbdbd;}
::-moz-selection {color:#333background:#bdbdbd;}
::-webkit-input-placeholder {color:#555;text-overflow:ellipsis;}
::-moz-placeholder {color:#555;text-overflow:ellipsis;opacity:1;} 
:-ms-input-placeholder {color:#555; text-overflow:ellipsis;opacity:1;}
.clearfix:after {content:"";display:block;clear:both;}
.cursor-pointer {cursor:pointer}
.cursor-default {cursor:default}
.cursor-auto {cursor:auto}
.font-main {font-family: 'Ford Antenna', sans-serif;}
.font-main-kr{font-family: 'Noto Sans CJK KR', sans-serif;}
.main-color-light {color: #2D96CD}
.main-color-dark {}
.background-setting {background-position:center; background-repeat:no-repeat; background-size:cover;}
/* common */
.table {table-layout:fixed; margin-bottom:0; border-bottom:1px solid #ddd;}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {text-align:center;padding:15px 15px;vertical-align:middle;border-top:1px solid #ddd;font-weight:normal}
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>th {color:#333;font-size:13px}
.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th {border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.table>tbody>tr>td, 
.table>tbody>tr>th {position:relative;}
.table>tbody+tbody {border-top:0;}
.table-border-box.table>thead:first-child>tr:first-child>th {border-top-color:#ddd;}
.table-border-box.table>thead>tr>th:first-child,
.table-border-box.table>tbody>tr>td:first-child {border-left:1px solid #ddd}
.table-border-box.table>thead>tr>th:last-child,
.table-border-box.table>tbody>tr>td:last-child {border-right:1px solid #ddd}
/* ===================================
    Typography
====================================== */
.text-left {text-align:left !important}
.text-right {text-align:right !important}
.text-center {text-align:center !important}
/* text size */
.text-extra-small {font-size:11px;line-height:16px}
.text-sm-small {font-size:12px;line-height:18px}
.text-small {font-size:13px;line-height:20px}
.text-sm-medium {font-size:15px;line-height:25px}
.text-medium {font-size:16px;line-height:28px}
.text-sm-large {font-size:17px;line-height:32px}
.text-large {font-size:18px;line-height:35px}
.text-extra-large {font-size:22px;line-height:38px}
/* text color */
.text-white {color:#FFF}
.text-black {color:#000}
.text-dark-gray {color:#333333}
.text-medium-gray {color:#555}
.text-light-gray {color:#ccc}
.text-gray {color:#888888}
.text-navy {color:#04305d;}
.text-red {color:#3a6795;}
.text-blue {color:#05299e;}
.text-main-color {color:#0276B3;}
.text-sub-color {color:#102B4E;}
.text-title-color {color:#1B1B1B;}
/* letter spacing */
.no-letter-spacing {letter-spacing:0px}
.letter-spacing-1 {letter-spacing:1px}
.letter-spacing-2 {letter-spacing:2px}
.letter-spacing-3 {letter-spacing:3px}
.letter-spacing-4 {letter-spacing:4px}
.letter-spacing-5 {letter-spacing:5px}
.letter-spacing-6 {letter-spacing:6px}
.letter-spacing-7 {letter-spacing:7px}
.letter-spacing-8 {letter-spacing:8px}
.letter-spacing-9 {letter-spacing:9px}
.letter-spacing-10 {letter-spacing:10px}
.letter-spacing-minus-1 {letter-spacing:-1px}
.letter-spacing-minus-2 {letter-spacing:-2px}
.letter-spacing-minus-3 {letter-spacing:-3px}
.letter-spacing-minus-4 {letter-spacing:-4px}
.letter-spacing-minus-5 {letter-spacing:-5px}
.letter-spacing-minus-6 {letter-spacing:-6px}
.letter-spacing-minus-7 {letter-spacing:-7px}
.letter-spacing-minus-8 {letter-spacing:-8px}
.letter-spacing-minus-9 {letter-spacing:-9px}
.letter-spacing-minus-10 {letter-spacing:-10px}
/* font weight */
.font-normal {font-weight:normal}
.font-weight-100 {font-weight:100}
.font-weight-200 {font-weight:200}
.font-weight-300 {font-weight:300}
.font-weight-400 {font-weight:400}
.font-weight-500 {font-weight:500}
.font-weight-600 {font-weight:600}
.font-weight-700 {font-weight:700}
.font-weight-800 {font-weight:800}
.font-weight-900 {font-weight:900}
/* line height */
.line-height-10 {line-height:10px}
.line-height-13 {line-height:13px}
.line-height-18 {line-height:18px}
.line-height-20 {line-height:20px}
.line-height-24 {line-height:24px}
.line-height-22 {line-height:22px}
.line-height-26 {line-height:26px}
.line-height-28 {line-height:28px}
.line-height-30 {line-height:30px}
.line-height-35 {line-height:35px}
.line-height-40 {line-height:40px}
.line-height-45 {line-height:43px}
.line-height-50 {line-height:50px}
.line-height-55 {line-height:55px}
.line-height-60 {line-height:60px}
.line-height-65 {line-height:65px}
.line-height-70 {line-height:70px}
.line-height-75 {line-height:75px}
.line-height-80 {line-height:80px}
.line-height-85 {line-height:85px}
.line-height-90 {line-height:90px}
.line-height-95 {line-height:95px}
.line-height-100 {line-height:100px}
.line-height-110 {line-height:110px}
.line-height-120 {line-height:120px}

.vertical-middle {vertical-align:middle;}
.vertical-top {vertical-align:top}
.vertical-bottom {vertical-align:bottom}
/* ===================================
    Background color
====================================== */
.bg-transparent {background-color: transparent !important;}
.bg-white {background-color:#fff !important;}
.bg-black {background-color:#000 !important;}
.bg-extra-dark-black {background-color:#222;}
.bg-dark-gray {background-color:#757575;}
.bg-gray {background-color:#ededed}
.bg-medium-gray {background-color:#bdbdbd;}
.bg-extra-light-gray {background-color:#f9f9f9}
.bg-light-gray {background-color:#f5f5f5}
.bg-very-light-gray {background-color:#fafafa}
.bg-red {background-color:#3a6795}
/* ===================================
    Custom
====================================== */
.center-col {float:none; margin-left:auto; margin-right:auto }
section {padding:50px 0; overflow: hidden;}
section.big-section {padding:160px 0;}
section.extra-big-section {padding:200px 0;}
section.half-section {padding:80px 0;}
.col-2-nth .col-md-6:nth-child(2n+1) {clear: left;}
.col-2-nth .col-sm-6:nth-child(2n+1) {clear: left;}
.col-3-nth .col-md-4:nth-child(3n+1) {clear: left;}
.col-3-nth .col-sm-4:nth-child(3n+1) {clear: left;}
.col-4-nth .col-md-3:nth-child(4n+1) {clear: left;}
.col-4-nth .col-sm-3:nth-child(4n+1) {clear: left;}
/* ===================================
/*     border */
====================================== */
.border-all {border:1px solid #ddd}
.border-bottom {border-bottom-style:solid;}
.border-bottom-1 {border-bottom-width:1px}
.border-bottom-gray {border-bottom-color:#ddd}

/*==============================
    Margin
================================*/
.no-margin {margin:0 !important}
.no-margin-lr {margin-left: 0 !important; margin-right: 0 !important}
.no-margin-tb {margin-top: 0 !important; margin-bottom: 0 !important}
.no-margin-top {margin-top:0 !important}
.no-margin-bottom {margin-bottom:0 !important}
.no-margin-left {margin-left:0 !important}
.no-margin-right {margin-right:0 !important}
.margin-lr-auto {margin-left:auto !important; margin-right:auto !important}
.margin-auto {margin: 0 auto !important;}
.margin-5px-all {margin:5px}
.margin-10px-all {margin:10px}
.margin-15px-all {margin:15px}
.margin-20px-all {margin:20px}
.margin-25px-all {margin:25px}
.margin-30px-all {margin:30px}
.margin-35px-all {margin:35px}
.margin-40px-all {margin:40px}
.margin-45px-all {margin:45px}
.margin-50px-all {margin:50px}
.margin-55px-all {margin:55px}
.margin-60px-all {margin:60px}
.margin-65px-all {margin:65px}
.margin-70px-all {margin:70px}
.margin-75px-all {margin:75px}
.margin-80px-all {margin:80px}
.margin-85px-all {margin:85px}
.margin-90px-all {margin:90px}
.margin-95px-all {margin:95px}
.margin-100px-all {margin:100px}
/* margin top */
.margin-5px-top {margin-top:5px}
.margin-7px-top {margin-top:7px}
.margin-10px-top {margin-top:10px}
.margin-15px-top {margin-top:15px}
.margin-20px-top {margin-top:20px}
.margin-25px-top {margin-top:25px}
.margin-30px-top {margin-top:30px}
.margin-35px-top {margin-top:35px}
.margin-40px-top {margin-top:40px}
.margin-45px-top {margin-top:45px}
.margin-50px-top {margin-top:50px}
.margin-55px-top {margin-top:55px}
.margin-60px-top {margin-top:60px}
.margin-65px-top {margin-top:65px}
.margin-70px-top {margin-top:70px}
.margin-75px-top {margin-top:75px}
.margin-80px-top {margin-top:80px}
.margin-90px-top {margin-top:90px}
.margin-100px-top {margin-top:100px}
/* margin bottom */
.margin-5px-bottom {margin-bottom:5px}
.margin-10px-bottom {margin-bottom:10px}
.margin-15px-bottom {margin-bottom:15px}
.margin-20px-bottom {margin-bottom:20px}
.margin-25px-bottom {margin-bottom:25px}
.margin-30px-bottom {margin-bottom:30px}
.margin-35px-bottom {margin-bottom:35px}
.margin-40px-bottom {margin-bottom:40px}
.margin-45px-bottom {margin-bottom:45px}
.margin-50px-bottom {margin-bottom:50px}
.margin-55px-bottom {margin-bottom:55px}
.margin-60px-bottom {margin-bottom:60px}
.margin-65px-bottom {margin-bottom:65px}
.margin-70px-bottom {margin-bottom:70px}
.margin-75px-bottom {margin-bottom:75px}
.margin-80px-bottom {margin-bottom:80px}
.margin-85px-bottom {margin-bottom:85px}
.margin-90px-bottom {margin-bottom:90px}
.margin-95px-bottom {margin-bottom:95px}
.margin-100px-bottom {margin-bottom:100px}
/* margin right */
.margin-5px-right {margin-right:5px}
.margin-10px-right {margin-right:10px}
.margin-15px-right {margin-right:15px}
.margin-20px-right {margin-right:20px}
.margin-25px-right {margin-right:25px}
.margin-30px-right {margin-right:30px}
.margin-35px-right {margin-right:35px}
.margin-40px-right {margin-right:40px}
.margin-45px-right {margin-right:45px}
.margin-50px-right {margin-right:50px}
.margin-55px-right {margin-right:55px}
.margin-60px-right {margin-right:60px}
.margin-65px-right {margin-right:65px}
.margin-70px-right {margin-right:70px}
.margin-75px-right {margin-right:75px}
.margin-80px-right {margin-right:80px}
.margin-85px-right {margin-right:85px}
.margin-90px-right {margin-right:90px}
.margin-95px-right {margin-right:95px}
.margin-100px-right {margin-right:100px}
/* margin left */
.margin-5px-left {margin-left:5px}
.margin-10px-left {margin-left:10px}
.margin-15px-left {margin-left:15px}
.margin-20px-left {margin-left:20px}
.margin-25px-left {margin-left:25px}
.margin-30px-left {margin-left:30px}
.margin-35px-left {margin-left:35px}
.margin-40px-left {margin-left:40px}
.margin-45px-left {margin-left:45px}
.margin-50px-left {margin-left:50px}
.margin-55px-left {margin-left:55px}
.margin-60px-left {margin-left:60px}
.margin-65px-left {margin-left:65px}
.margin-70px-left {margin-left:70px}
.margin-75px-left {margin-left:75px}
.margin-80px-left {margin-left:80px}
.margin-85px-left {margin-left:85px}
.margin-90px-left {margin-left:90px}
.margin-95px-left {margin-left:95px}
.margin-100px-left {margin-left:100px}
/* margin left and right */
.margin-5px-lr {margin-left:5px; margin-right:5px;}
.margin-10px-lr {margin-left:10px; margin-right:10px;}
.margin-15px-lr {margin-left:15px; margin-right:15px;}
.margin-20px-lr {margin-left:20px; margin-right:20px;}
.margin-25px-lr {margin-left:25px; margin-right:25px;}
.margin-30px-lr {margin-left:30px; margin-right:30px;}
.margin-35px-lr {margin-left:35px; margin-right:35px;}
.margin-40px-lr {margin-left:40px; margin-right:40px;}
.margin-45px-lr {margin-left:45px; margin-right:45px;}
.margin-50px-lr {margin-left:50px; margin-right:50px;}
.margin-55px-lr {margin-left:55px; margin-right:55px;}
.margin-60px-lr {margin-left:60px; margin-right:60px;}
.margin-65px-lr {margin-left:65px; margin-right:65px;}
.margin-70px-lr {margin-left:70px; margin-right:70px;}
.margin-75px-lr {margin-left:75px; margin-right:75px;}
.margin-80px-lr {margin-left:80px; margin-right:80px;}
.margin-85px-lr {margin-left:85px; margin-right:85px;}
.margin-90px-lr {margin-left:90px; margin-right:90px;}
.margin-95px-lr {margin-left:95px; margin-right:95px;}
.margin-100px-lr {margin-left:100px; margin-right:100px;}
/* margin top and bottom */
.margin-5px-tb {margin-top:5px; margin-bottom:5px;}
.margin-10px-tb {margin-top:10px; margin-bottom:10px;}
.margin-15px-tb {margin-top:15px; margin-bottom:15px;}
.margin-20px-tb {margin-top:20px; margin-bottom:20px;}
.margin-25px-tb {margin-top:25px; margin-bottom:25px;}
.margin-30px-tb {margin-top:30px; margin-bottom:30px;}
.margin-35px-tb {margin-top:35px; margin-bottom:35px;}
.margin-40px-tb {margin-top:40px; margin-bottom:40px;}
.margin-45px-tb {margin-top:45px; margin-bottom:45px;}
.margin-50px-tb {margin-top:50px; margin-bottom:50px;}
.margin-55px-tb {margin-top:55px; margin-bottom:55px;}
.margin-60px-tb {margin-top:60px; margin-bottom:60px;}
.margin-65px-tb {margin-top:65px; margin-bottom:65px;}
.margin-70px-tb {margin-top:70px; margin-bottom:70px;}
.margin-75px-tb {margin-top:75px; margin-bottom:75px;}
.margin-80px-tb {margin-top:80px; margin-bottom:80px;}
.margin-85px-tb {margin-top:85px; margin-bottom:85px;}
.margin-90px-tb {margin-top:90px; margin-bottom:90px;}
.margin-95px-tb {margin-top:95px; margin-bottom:95px;}
.margin-100px-tb {margin-top:100px; margin-bottom:100px;}
/*===============================
    Padding
=================================*/
.no-padding {padding:0 !important}
.no-padding-lr {padding-left: 0 !important; padding-right: 0 !important}
.no-padding-tb {padding-top: 0 !important; padding-bottom: 0 !important}
.no-padding-top {padding-top:0 !important}
.no-padding-bottom {padding-bottom:0 !important}
.no-padding-left {padding-left:0 !important}
.no-padding-right {padding-right:0 !important}
.padding-5px-all {padding:5px;}
.padding-10px-all {padding:10px;}
.padding-15px-all {padding:15px;}
.padding-20px-all {padding:20px;}
.padding-25px-all {padding:25px;}
.padding-30px-all {padding:30px;}
.padding-35px-all {padding:35px;}
.padding-40px-all {padding:40px;}
.padding-45px-all {padding:45px;}
.padding-50px-all {padding:50px;}
.padding-55px-all {padding:55px;}
.padding-60px-all {padding:60px;}
.padding-65px-all {padding:65px;}
.padding-70px-all {padding:70px;}
.padding-75px-all {padding:75px;}
.padding-80px-all {padding:80px;}
.padding-85px-all {padding:85px;}
.padding-90px-all {padding:90px;}
.padding-95px-all {padding:95px;}
.padding-100px-all {padding:100px;}
/* padding top */
.padding-5px-top {padding-top:5px;}
.padding-10px-top {padding-top:10px;}
.padding-15px-top {padding-top:15px;}
.padding-20px-top {padding-top:20px;}
.padding-25px-top {padding-top:25px;}
.padding-30px-top {padding-top:30px;}
.padding-35px-top {padding-top:35px;}
.padding-40px-top {padding-top:40px;}
.padding-45px-top {padding-top:45px;}
.padding-50px-top {padding-top:50px;}
.padding-55px-top {padding-top:55px;}
.padding-60px-top {padding-top:60px;}
.padding-65px-top {padding-top:65px;}
.padding-70px-top {padding-top:70px;}
.padding-75px-top {padding-top:75px;}
.padding-80px-top {padding-top:80px;}
.padding-85px-top {padding-top:85px;}
.padding-90px-top {padding-top:90px;}
.padding-95px-top {padding-top:95px;}
.padding-100px-top {padding-top:100px;}
/* padding bottom */
.padding-5px-bottom {padding-bottom:5px;}
.padding-10px-bottom {padding-bottom:10px;}
.padding-15px-bottom {padding-bottom:15px;}
.padding-20px-bottom {padding-bottom:20px;}
.padding-25px-bottom {padding-bottom:25px;}
.padding-30px-bottom {padding-bottom:30px;}
.padding-35px-bottom {padding-bottom:35px;}
.padding-40px-bottom {padding-bottom:40px;}
.padding-45px-bottom {padding-bottom:45px;}
.padding-50px-bottom {padding-bottom:50px;}
.padding-55px-bottom {padding-bottom:55px;}
.padding-60px-bottom {padding-bottom:60px;}
.padding-65px-bottom {padding-bottom:65px;}
.padding-70px-bottom {padding-bottom:70px;}
.padding-75px-bottom {padding-bottom:75px;}
.padding-80px-bottom {padding-bottom:80px;}
.padding-85px-bottom {padding-bottom:85px;}
.padding-90px-bottom {padding-bottom:90px;}
.padding-95px-bottom {padding-bottom:95px;}
.padding-100px-bottom {padding-bottom:100px;}
/* padding right */
.padding-5px-right {padding-right:5px;}
.padding-10px-right {padding-right:10px;}
.padding-15px-right {padding-right:15px;}
.padding-20px-right {padding-right:20px;}
.padding-25px-right {padding-right:25px;}
.padding-30px-right {padding-right:30px;}
.padding-35px-right {padding-right:35px;}
.padding-40px-right {padding-right:40px;}
.padding-45px-right {padding-right:45px;}
.padding-50px-right {padding-right:50px;}
.padding-55px-right {padding-right:55px;}
.padding-60px-right {padding-right:60px;}
.padding-65px-right {padding-right:65px;}
.padding-70px-right {padding-right:70px;}
.padding-75px-right {padding-right:75px;}
.padding-80px-right {padding-right:80px;}
.padding-85px-right {padding-right:85px;}
.padding-90px-right {padding-right:90px;}
.padding-95px-right {padding-right:95px;}
.padding-100px-right {padding-right:100px;}
/* padding left */
.padding-5px-left {padding-left:5px;}
.padding-10px-left {padding-left:10px;}
.padding-15px-left {padding-left:15px;}
.padding-20px-left {padding-left:20px;}
.padding-25px-left {padding-left:25px;}
.padding-30px-left {padding-left:30px;}
.padding-35px-left {padding-left:35px;}
.padding-40px-left {padding-left:40px;}
.padding-45px-left {padding-left:45px;}
.padding-50px-left {padding-left:50px;}
.padding-55px-left {padding-left:55px;}
.padding-60px-left {padding-left:60px;}
.padding-65px-left {padding-left:65px;}
.padding-70px-left {padding-left:70px;}
.padding-75px-left {padding-left:75px;}
.padding-80px-left {padding-left:80px;}
.padding-85px-left {padding-left:85px;}
.padding-90px-left {padding-left:90px;}
.padding-95px-left {padding-left:95px;}
.padding-100px-left {padding-left:100px;}
/* padding top and bottom */
.padding-5px-tb {padding-top:5px; padding-bottom:5px;}
.padding-10px-tb {padding-top:10px; padding-bottom:10px;}
.padding-15px-tb {padding-top:15px; padding-bottom:15px;}
.padding-20px-tb {padding-top:20px; padding-bottom:20px;}
.padding-25px-tb {padding-top:25px; padding-bottom:25px;}
.padding-30px-tb {padding-top:30px; padding-bottom:30px;}
.padding-35px-tb {padding-top:35px; padding-bottom:35px;}
.padding-40px-tb {padding-top:40px; padding-bottom:40px;}
.padding-45px-tb {padding-top:45px; padding-bottom:45px;}
.padding-50px-tb {padding-top:50px; padding-bottom:50px;}
.padding-55px-tb {padding-top:55px; padding-bottom:55px;}
.padding-60px-tb {padding-top:60px; padding-bottom:60px;}
.padding-65px-tb {padding-top:65px; padding-bottom:65px;}
.padding-70px-tb {padding-top:70px; padding-bottom:70px;}
.padding-75px-tb {padding-top:75px; padding-bottom:75px;}
.padding-80px-tb {padding-top:80px; padding-bottom:80px;}
.padding-85px-tb {padding-top:85px; padding-bottom:85px;}
.padding-90px-tb {padding-top:90px; padding-bottom:90px;}
.padding-95px-tb {padding-top:95px; padding-bottom:95px;}
.padding-100px-tb {padding-top:100px; padding-bottom:100px;}
/* padding left and right */
.padding-5px-lr {padding-left:5px; padding-right:5px;}
.padding-10px-lr {padding-left:10px; padding-right:10px;}
.padding-15px-lr {padding-left:15px; padding-right:15px;}
.padding-20px-lr {padding-left:20px; padding-right:20px;}
.padding-25px-lr {padding-left:25px; padding-right:25px;}
.padding-30px-lr {padding-left:30px; padding-right:30px;}
.padding-35px-lr {padding-left:35px; padding-right:35px;}
.padding-40px-lr {padding-left:40px; padding-right:40px;}
.padding-45px-lr {padding-left:45px; padding-right:45px;}
.padding-50px-lr {padding-left:50px; padding-right:50px;}
.padding-55px-lr {padding-left:55px; padding-right:55px;}
.padding-60px-lr {padding-left:60px; padding-right:60px;}
.padding-65px-lr {padding-left:65px; padding-right:65px;}
.padding-70px-lr {padding-left:70px; padding-right:70px;}
.padding-75px-lr {padding-left:75px; padding-right:75px;}
.padding-80px-lr {padding-left:80px; padding-right:80px;}
.padding-85px-lr {padding-left:85px; padding-right:85px;}
.padding-90px-lr {padding-left:90px; padding-right:90px;}
.padding-95px-lr {padding-left:95px; padding-right:95px;}
.padding-100px-lr {padding-left:100px; padding-right:100px;}
/*==============================
    Display and float
================================*/
.display-block {display:block !important}
.display-inline-block {display:inline-block !important}
.display-inline {display:inline !important}
.display-none {display:none !important}
.display-inherit {display:inherit !important}
.display-table {display:table !important}
.display-table-cell {display:table-cell !important}
.display-table-row {display:table-row !important}
.overflow-hidden {overflow:hidden !important}
.overflow-visible {overflow:visible !important}
.overflow-auto {overflow:auto !important}
/*float*/
.float-left{float: left !important}
.float-right{float: right !important}
.float-none{float: none !important}
/*============================== 
    Position
================================*/
.position-inherit {position:inherit !important}
.position-relative {position:relative !important;}
.position-absolute {position:absolute !important;}
.position-fixed {position:fixed !important;}
.position-right {right:0 !important;}
.position-left {left:0 !important;}
.position-top {top:0 !important;}
/* top */
.top-auto {top:auto}
.top-inherit {top: inherit !important;}
.top-0 {top:0 !important;}
.top-1 {top:1px}
.top-2 {top:2px}
.top-3 {top:3px}
.top-4 {top:4px}
.top-5 {top:5px}
.top-6 {top:6px}
.top-7 {top:7px}
.top-8 {top:8px}
.top-9 {top:9px}
.top-10 {top:10px}
.top-15 {top:15px}
.top-20 {top:20px}
.top-25 {top:25px}
.top-30 {top:30px}
.top-35 {top:35px}
.top-40 {top:40px}
.top-45 {top:45px}
.top-50 {top:50px}

.top-minus1 {top:-1px}
.top-minus2 {top:-2px}
.top-minus3 {top:-3px}
.top-minus4 {top:-4px}
.top-minus5 {top:-5px}
.top-minus6 {top:-6px}
.top-minus7 {top:-7px}
.top-minus8 {top:-8px}
.top-minus9 {top:-9px}
.top-minus10 {top:-10px}
.top-minus15 {top:-15px}
.top-minus20 {top:-20px}
.top-minus25 {top:-25px}
.top-minus30 {top:-30px}
.top-minus35 {top:-35px}
.top-minus40 {top:-40px}
/* bottom */
.bottom-auto {bottom:auto}
.bottom-0 {bottom:0}
.bottom-1 {bottom:1px}
.bottom-2 {bottom:2px}
.bottom-3 {bottom:3px}
.bottom-4 {bottom:4px}
.bottom-5 {bottom:5px}
.bottom-6 {bottom:6px}
.bottom-7 {bottom:7px}
.bottom-8 {bottom:8px}
.bottom-9 {bottom:9px}
.bottom-10 {bottom:10px}
.bottom-15 {bottom:15px}
.bottom-20 {bottom:20px}
.bottom-25 {bottom:25px}
.bottom-30 {bottom:30px}
.bottom-35 {bottom:35px}
.bottom-40 {bottom:40px}
.bottom-45 {bottom:45px}
.bottom-50 {bottom:50px}
/* left */
.left-auto {left:auto}
.left-0 {left:0}
.left-1 {left:1px}
.left-2 {left:2px}
.left-3 {left:3px}
.left-4 {left:4px}
.left-5 {left:5px}
.left-6 {left:6px}
.left-7 {left:7px}
.left-8 {left:8px}
.left-9 {left:9px}
.left-10 {left:10px}
.left-15 {left:15px}
.left-20 {left:20px}
.left-25 {left:25px}
.left-30 {left:30px}
.left-35 {left:35px}
.left-40 {left:40px}
.left-45 {left:45px}
.left-50 {left:50px}
/* right */
.right-auto {right:auto}
.right-0 {right:0}
.right-1 {right:1px}
.right-2 {right:2px}
.right-3 {right:3px}
.right-4 {right:4px}
.right-5 {right:5px}
.right-6 {right:6px}
.right-7 {right:7px}
.right-8 {right:8px}
.right-9 {right:9px}
.right-10 {right:10px}

/*================================
    Width
================================*/
.width-wrap {width:1200px;}
.width-1px {width:1px;}
.width-2px {width:2px;}
.width-3px {width:3px;}
.width-4px {width:4px;}
.width-5px {width:5px;}
.width-6px {width:6px;}
.width-7px {width:7px;}
.width-8px {width:8px;}
.width-9px {width:9px;}
.width-10px {width:10px;}
.width-15px {width:15px;}
.width-20px {width:20px;}
.width-25px {width:25px;}
.width-30px {width:30px;}
.width-35px {width:35px;}
.width-40px {width:40px;}
.width-50px {width:50px;}
.width-55px {width:55px;}
.width-60px {width:60px;}
.width-65px {width:65px;}
.width-70px {width:70px;}
.width-75px {width:75px;}
.width-80px {width:80px;}
.width-85px {width:85px;}
.width-90px {width:90px;}
.width-100px {width:100px;}
.width-120px {width:120px;}
.width-130px {width:130px;}
.width-150px {width:150px;}
.width-180px {width:180px;}
.width-200px {width:200px;}
.width-250px {width:250px;}
.width-300px {width:300px;}
.width-350px {width:350px;}
.width-400px {width:400px;}
.width-450px {width:450px;}
.width-500px {width:500px;}
.width-550px {width:550px;}
.width-600px {width:600px;}
.width-650px {width:650px;}
.width-700px {width:700px;}
.width-750px {width:750px;}
.width-800px {width:800px;}
.width-850px {width:850px;}
.width-900px {width:900px;}
.width-950px {width:950px;}
.width-1000px {width:1000px;}

.width-10 {width:10%;}
.width-12 {width:12%;}
.width-15 {width:15%;}
.width-20 {width:20%;}
.width-25 {width:25%;}
.width-30 {width:30%;}
.width-33 {width:33%;}
.width-35 {width:35%;}
.width-40 {width:40%;}
.width-45 {width:45%;}
.width-49 {width:49%;}
.width-50 {width:50%;}
.width-55 {width:55%;}
.width-60 {width:60%;}
.width-65 {width:65%;}
.width-70 {width:70%;}
.width-75 {width:75%;}
.width-80 {width:80%;}
.width-85 {width:85%;}
.width-90 {width:90%;}
.width-95 {width:95%;}
.width-100 {width:100% !important;}
.width-auto {width: auto}

/*================================ 
    Height
================================*/
.height-1px {height: 1px}
.height-2px {height: 2px}
.height-3px {height: 3px}
.height-4px {height: 4px}
.height-5px {height: 5px}
.height-6px {height: 6px}
.height-7px {height: 7px}
.height-8px {height: 8px}
.height-9px {height: 9px}
.height-10px {height: 10px}
.height-80px {height: 80px}
.height-45px {height: 45px}
.height-50px {height: 50px}
.height-90px {height: 90px}
.height-100px {height: 100px}
.height-130px {height: 130px}
.height-150px {height: 150px}
.height-200px {height: 200px}
.height-250px {height: 250px}
.height-300px {height: 300px}
.height-350px {height: 350px}
.height-400px {height: 400px}
.height-450px {height: 450px}
.height-500px {height: 500px}
.height-550px {height: 550px}
.height-600px {height: 600px}
.height-650px {height: 650px}
.height-700px {height: 700px}
.height-50 {height: 50%}
.height-100 {height: 100% !important}
.height-auto {height:auto !important}
.max-height-100 {max-height: 100%}
.full-screen {min-height: 980px;}
/* min-height */
.min-height-100px {min-height: 100px}
.min-height-200px {min-height: 200px}
.min-height-300px {min-height: 300px}
.min-height-400px {min-height: 400px}
.min-height-500px {min-height: 500px}
.min-height-600px {min-height: 600px}
.min-height-700px {min-height: 700px}
/* ===================================
    Page title
====================================== */
.page-title-extra-small h1 {font-size:17px;line-height:26px;margin-bottom:0;}
.page-title-small h1 {font-size:20px;line-height:26px;margin-bottom:0;}
.page-title-medium h1 {font-size:26px;line-height:36px;margin-bottom:0;}
.page-title-extra-medium h1 {font-size:32px;line-height:36px;margin-bottom:0;}
.page-title-large h1 {font-size:38px;line-height:42px;margin-bottom:0;}
.page-title-extra-large h1 {font-size:55px;line-height:70px;margin-bottom:0;}

@media (max-width:1199px){
	.md-display-block {display:block !important}
    .md-display-inline-block {display:inline-block !important}
    .md-display-inline {display:inline !important}
    .md-display-none {display:none !important} 
    .md-overflow-hidden {overflow:hidden !important}
    .md-overflow-auto {overflow:auto !important}
	.md-no-padding-lr {padding-left:0; padding-right:0;}  
	.md-padding-20px-lr {padding-left:20px; padding-right:20px;}
}

@media (max-width:991px){
	section {padding:80px 0}
	.h3, h3 {font-size:19px}
	.h4, h4 {font-size:16px}
	.h5, h5 {font-size:15px}
	.page-title-medium h1 {font-size:20px;line-height:26px}
	.page-title-large h1 {font-size:27px;line-height:30px}
   	.table.sm-table-block {border-top:1px solid #666;}
	.table.sm-table-block>tbody>tr>td, 
	.table.sm-table-block>tbody>tr>th, 
	.table.sm-table-block>tfoot>tr>td, 
	.table.sm-table-block>tfoot>tr>th, 
	.table.sm-table-block>thead>tr>td, 
	.table.sm-table-block>thead>tr>th {text-align:left;display:block;padding-top:0;padding-bottom:8px;border-bottom:none;border-top:none;}	
	.table.sm-table-block>tbody>tr {border-bottom:1px solid #e0e0e0;}
	.table.sm-table-block>tbody>tr>td:first-child {padding-top:8px !important;}
	.table.sm-table-block p.xs-float-right {color:#333;}	
	.table.sm-table-block + .data-none {border-top:1px solid #666;}
	.sm-display-block {display:block !important}
    .sm-display-inline-block {display:inline-block !important}
    .sm-display-inline {display:inline !important}
    .sm-display-none {display:none !important} 
    .sm-overflow-hidden {overflow:hidden !important}
    .sm-overflow-auto {overflow:auto !important}	
    .sm-no-padding-top {padding-top:0;}
    .sm-no-padding-bottom {padding-bottom:0;} 
    .sm-no-padding-right {padding-right:0 !important;}
    .sm-no-padding-left {padding-left:0 !important;}  
    .sm-no-padding-lr {padding-left:0; padding-right:0;} 
    .sm-no-padding-tb {padding-top:0; padding-bottom:0;}
    .sm-padding-10px-all {padding:10px;}
    .sm-padding-10px-tb {padding-top:10px; padding-bottom:10px;}
    .sm-padding-15px-tb {padding-top:15px; padding-bottom:15px;}
    .sm-padding-25px-tb {padding-top:25px; padding-bottom:25px;}
    .sm-padding-30px-tb {padding-top:30px; padding-bottom:30px;}
    .sm-padding-50px-tb {padding-top:50px; padding-bottom:50px;}
    .sm-padding-10px-lr {padding-left:10px; padding-right:10px;}
    .sm-padding-15px-lr {padding-left:15px; padding-right:15px;}
    .sm-padding-30px-top {padding-top:30px;}
	.sm-padding-25px-top {padding-top:25px;}
    .sm-padding-20px-top {padding-top:20px;}
    .sm-padding-10px-top {padding-top:10px;}
    .sm-padding-50px-top {padding-top:50px;} 
    .sm-padding-10px-bottom {padding-bottom:10px;}
    .sm-padding-20px-bottom {padding-bottom:20px;}
    .sm-margin-auto {margin:0 auto;}
	.sm-no-margin-bottom {margin-bottom:0;} 
    .sm-margin-10px-top {margin-top:10px;}
    .sm-margin-15px-top {margin-top:15px;} 
    .sm-margin-20px-top {margin-top:20px;}
    .sm-margin-25px-top {margin-top:25px;}    
    .sm-margin-30px-top {margin-top:30px;}  
    .sm-margin-35px-top {margin-top:35px;}
    .sm-margin-5px-bottom {margin-bottom:5px;}
    .sm-margin-10px-bottom {margin-bottom:10px;}
    .sm-margin-15px-bottom {margin-bottom:15px;}
    .sm-margin-20px-bottom {margin-bottom:20px;}
    .sm-margin-25px-bottom {margin-bottom:25px;}
    .sm-margin-40px-bottom {margin-bottom:40px;}
    .sm-text-left {text-align:left !important;}
    .sm-text-right {text-align:right !important;}
    .sm-text-center {text-align:center !important;}
    .sm-float-right {float:right !important;}
    .sm-float-left {float:left !important;}
    .sm-float-none {float:none !important;}
    .sm-width-100 {width:100%;}
    .sm-width-150px {width:150px;}
    .sm-height-auto {height:auto;}
    .sm-height-500px {height:500px;}
}

@media (max-width:767px){
	body, html {font-size:13px}
	.xs-text-dark-gray {color:#333;}
	.xs-border-none {border:none !important;}
	.xs-text-left {text-align:left !important;}
	.xs-text-right {text-align:right !important;}
	.xs-text-sm-medium {font-size:13px;line-height:22px}
	.xs-text-small {font-size:12px;}
	.table>tbody>tr>td, 
	.table>tbody>tr>th, 
	.table>tfoot>tr>td, 
	.table>tfoot>tr>th, 
	.table>thead>tr>td, 
	.table>thead>tr>th {padding:10px 6px}
	.table>tbody>tr>th, 
	.table>tfoot>tr>th, 
	.table>thead>tr>th,
	.table>tbody>tr>td, 
	.table>tfoot>tr>td, 
	.table>thead>tr>td {font-size:12px}	
	.table>caption+thead>tr:first-child>td, 
	.table>caption+thead>tr:first-child>th, 
	.table>colgroup+thead>tr:first-child>td, 
	.table>colgroup+thead>tr:first-child>th, 
	.table>thead:first-child>tr:first-child>td, 
	.table>thead:first-child>tr:first-child>th {border-bottom:none;}	
	.table-border-box.table>thead>tr>th:first-child,
	.table-border-box.table>tbody>tr>td:first-child {border-left:none}
	.table-border-box.table>thead>tr>th:last-child,
	.table-border-box.table>tbody>tr>td:last-child {border-right:none}	
	.table.xs-td-block {display:block;width:100%;table-layout:auto;border-top:1px solid #666;}
	.table.xs-td-block>tbody,
	.table.xs-td-block>tbody>tr {display:block;width:100%}
	.table.xs-td-block>tbody>tr>td.td-block {display:block;width:auto;padding-left:0;padding-right:0;padding-top:8px;padding-bottom:8px;border-top:none;}
	.table.xs-td-block>tbody>tr>td.td-block.first {border-bottom:none;padding-bottom:0}
	.table.xs-td-block>tbody>tr>td.td-block>div.display-none>span{display:inline-block;padding-right:8px}
	.table.xs-td-block>tbody>tr.tr-view-content {display:block !important;width:100%}
	.table.xs-td-block>tbody>tr.tr-view-content>td {display:block;width:100%;border-top:none}
	.table.xs-td-block + .data-none {border-top:1px solid #666;}
	.table.xs-table-block {border-top:1px solid #666;}
	.table.xs-table-block>tbody>tr>td, 
	.table.xs-table-block>tbody>tr>th, 
	.table.xs-table-block>tfoot>tr>td, 
	.table.xs-table-block>tfoot>tr>th, 
	.table.xs-table-block>thead>tr>td, 
	.table.xs-table-block>thead>tr>th {text-align:left;display:block;padding-left:0;padding-right:0;padding-top:0;padding-bottom:8px;border-bottom:none;border-top:none;overflow:hidden;}	
	.table.xs-table-block>tbody>tr {border-bottom:1px solid #e0e0e0;}
	.table.xs-table-block>tbody>tr>td:first-child {padding-top:8px}
	.table.xs-table-block>tbody>tr>td>div.display-none>span{display:inline-block;padding-right:6px}
	.table.xs-table-block + .data-none {border-top:1px solid #666;}		

	.xs-display-block {display:block !important}
    .xs-display-inline-block {display:inline-block !important}
    .xs-display-inline {display:inline !important}
    .xs-overflow-hidden {overflow:hidden !important}
    .xs-overflow-auto {overflow:auto !important}	
    .xs-padding-5px-all {padding:5px;}
    .xs-padding-10px-all {padding:10px;}
    .xs-padding-15px-all {padding:15px;}
    .xs-padding-20px-all {padding:20px;}
    .xs-padding-5px-tb {padding-top:5px; padding-bottom:5px;}
    .xs-padding-10px-tb {padding-top:10px; padding-bottom:10px;}
    .xs-padding-15px-tb {padding-top:15px; padding-bottom:15px;}
    .xs-padding-20px-tb {padding-top:20px; padding-bottom:20px;}
    .xs-padding-30px-tb {padding-top:30px; padding-bottom:30px;}
    .xs-padding-50px-tb {padding-top:50px; padding-bottom:50px;}
    .xs-padding-5px-lr {padding-left:5px; padding-right:5px;}
    .xs-padding-10px-lr {padding-left:10px; padding-right:10px;}
    .xs-padding-15px-lr {padding-left:15px; padding-right:15px;}
    .xs-padding-20px-lr {padding-left:20px; padding-right:20px;}
    .xs-padding-30px-lr {padding-left:30px; padding-right:30px;}
    .xs-padding-10px-left {padding-left:10px;}
    .xs-padding-10px-top {padding-top:10px !important;}
    .xs-padding-15px-top {padding-top:15px;}
    .xs-padding-20px-top {padding-top:20px;}
    .xs-padding-30px-top {padding-top:30px;}
    .xs-padding-50px-top {padding-top:50px;}
    .xs-padding-30px-bottom {padding-bottom:30px;}
    .xs-no-padding-lr {padding-left:0 !important; padding-right:0 !important;}	
    .xs-no-padding-tb {padding-top:0 !important; padding-bottom:0 !important;}	
    .xs-no-padding-bottom {padding-bottom:0;}
    .xs-no-padding-top {padding-top:0;}
    .xs-no-padding-left {padding-left:0;}
    .xs-no-margin-top {margin-top:0;}
    .xs-no-margin-bottom {margin-bottom:0;}
    .xs-margin-5px-top {margin-top:5px;}
    .xs-margin-10px-top {margin-top:10px;}
    .xs-margin-15px-top {margin-top:15px;}
    .xs-margin-20px-top {margin-top:20px;}
    .xs-margin-25px-top {margin-top:25px;}
    .xs-margin-35px-top {margin-top:35px;}
    .xs-margin-60px-top {margin-top:60px;}
    .xs-margin-5px-bottom {margin-bottom:5px;}
    .xs-margin-10px-bottom {margin-bottom:10px;}
    .xs-margin-15px-bottom {margin-bottom:15px;}
    .xs-margin-20px-bottom {margin-bottom:20px;}
    .xs-margin-25px-bottom {margin-bottom:25px;}
    .xs-margin-30px-bottom {margin-bottom:30px;}
    .xs-margin-35px-bottom {margin-bottom:35px;}
    .xs-margin-40px-bottom {margin-bottom:40px;}
    .xs-margin-one-lr {margin-left:1%; margin-right:1%;}
    .xs-width-148px {width:148px;}
    .xs-width-135px {width:135px;}
    .xs-width-125px {width:125px;}
    .xs-width-100 {width:100%;}
    .xs-width-50 {width:50%;}    
    .xs-width-48 {width:48%;}    
    .xs-width-49 {width:49%;}    
    .xs-width-33 {width:33%;}    
    .xs-height-auto {height:auto;}
    .xs-float-right {float:right !important;}
	.xs-float-none {float:none !important;}   
    .xs-height-300px {height:300px;} 
}


