<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>바이온텍</title>
	<div id="header"></div>
	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Roboto%7cRubik:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme-vendors.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/assets_css/theme.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/vendor/fresco/css/fresco.css">
	<link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
	<!-- js -->
		<!-- Swiper JS -->		
	<script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    <div id="wrap" class="no-padding">
		<main id="content" class="content">
            <div class="product-list-wrap">
                <div class="container-fluid no-padding">
                    <div class="width-100">
                      <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/editor/goods/200702/cate_top_bnr01_103752.jpg" class="sm-display-none" alt="카테고리 배너 이미지">
                      <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/editor/goods/200702/cate_top_bnr01_103805.jpg" class="display-none sm-display-block" alt="카테고리 배너 이미지 모바일용">
                    </div>
                 </div>
            <!-- ================ // 분리 div 1단 :: 카테고리 배너 이미지 영역  ================ -->
                <div class="product-list-wrap">
                    <!-- ================ 분리 section 2단 :: 타이틀 영역  ================ -->
                    <section id="pageDivision">
                        <!-- 공통 타이틀 스타일 (title-style-short) -->
                        <div class="">
                            <h1 class="title-style text-center title-style-middle-regular title-dark-color">이온수기</h1>
                        </div>
                    </section>
                    <!-- ================ // 분리 section 2단 :: 타이틀 영역  ================ -->
        
                    <!-- ================ 분리 section 3단 :: 상품 결과 영역  ================ -->
                    <section id="pageDivision">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="shop--element-product-list">
                                        <div class="product-categosy-list-filter">
                                            <div class="col-md-10 col-xs-8">
                                                <p class="product-quantity-number">총 <span class="font-weight-600 text-main">57</span>개의 제품이 있습니다.</p>
                                            </div>
                                            <div class="col-md-2 col-xs-4">
                                                <span class="select-span position-relative">
                                                    <select class="form-select">
                                                        <option selected="">등록일순</option>
                                                        <option value="1">인기순</option>
                                                        <option value="2">낮은가격순</option>
                                                        <option value="3">높은가격순</option>
                                                        <option value="5">별점순</option>
                                                    </select>
                                                    <span class="select-icon fa fa-angle-down"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>
                        <!-- ================ // 분리 section 3단 :: 상품 결과 영역  ================ -->
        
                    <!-- ================ 분리 section 4단 :: 상품 리스트 영역  ================ -->
                    <section id="pageDivision">
                        <div class="container main-content-wrap display-fix-size"> <!-- 전체 wrap -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="main-content-item-wrap"><!-- 컨텐츠 wrap -->
                                        <div class="product-list-element-wrap ">
                                            <div class="product-list-element-content">
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/21/12/52/1000000039/1000000039_detail_09.png" alt="TEXT" class="product-tumbnail-round">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">저수조 없는 직수형</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            <!-- 상품 가격 -->
                                                            <p class="sale-cost">2,490,000<span class="cost-won">원</span></p>
        
                                                        <!-- 이벤트 상품 -->
                                                            
                                                            
                                                            
                                                            
        
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>48,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>29,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="TEXT" class="product-tumbnail-round">
                                                                <img src="https://view01.wemep.co.kr/wmp-sticker/34/202103/09/quwf6otxyamd.png" alt="이벤트" class="sale-event-icon">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">정수는 물론 알칼리 이온수와 산성 이온수까지</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            
                                                            
        
                                                        <!-- 이벤트 상품 -->
                                                            <!-- 상품 가격 : 할인표시-->
                                                            <p class="cost">2,190,000<span class="cost-won">원</span></p>
                                                            <!-- 할인된 가격 -->
                                                            <p class="sale-cost">2,090,000<span class="cost-won">원</span></p>
        
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>38,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>23,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/21/12/52/1000000039/1000000039_detail_09.png" alt="TEXT" class="product-tumbnail-round">
                                                                <img src="https://view01.wemep.co.kr/wmp-sticker/34/202103/09/quwf6otxyamd.png" alt="이벤트" class="sale-event-icon">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">저수조 없는 직수형</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            <!-- 상품 가격 -->
                                                            <p class="sale-cost">2,490,000<span class="cost-won">원</span></p>
        
                                                        <!-- 이벤트 상품 -->
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>48,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>29,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="TEXT" class="product-tumbnail-round">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">정수는 물론 알칼리 이온수와 산성 이온수까지</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                        <!-- 이벤트 상품 -->
                                                            <!-- 상품 가격 : 할인표시-->
                                                            <p class="cost">2,190,000<span class="cost-won">원</span></p>
                                                            <!-- 할인된 가격 -->
                                                            <p class="sale-cost">2,090,000<span class="cost-won">원</span></p>
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>38,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>23,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/21/12/52/1000000039/1000000039_detail_09.png" alt="TEXT" class="product-tumbnail-round">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">저수조 없는 직수형</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            <!-- 상품 가격 -->
                                                            <p class="sale-cost">2,490,000<span class="cost-won">원</span></p>
        
                                                        <!-- 이벤트 상품 -->
                                                            
                                                            
                                                            
                                                            
        
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>48,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>29,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="TEXT" class="product-tumbnail-round">
                                                                <img src="https://view01.wemep.co.kr/wmp-sticker/34/202103/09/quwf6otxyamd.png" alt="이벤트" class="sale-event-icon">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">정수는 물론 알칼리 이온수와 산성 이온수까지</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            
                                                            
        
                                                        <!-- 이벤트 상품 -->
                                                            <!-- 상품 가격 : 할인표시-->
                                                            <p class="cost">2,190,000<span class="cost-won">원</span></p>
                                                            <!-- 할인된 가격 -->
                                                            <p class="sale-cost">2,090,000<span class="cost-won">원</span></p>
        
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>38,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>23,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/21/12/52/1000000039/1000000039_detail_09.png" alt="TEXT" class="product-tumbnail-round">
                                                                <img src="https://view01.wemep.co.kr/wmp-sticker/34/202103/09/quwf6otxyamd.png" alt="이벤트" class="sale-event-icon">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">저수조 없는 직수형</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            <!-- 상품 가격 -->
                                                            <p class="sale-cost">2,490,000<span class="cost-won">원</span></p>
        
                                                        <!-- 이벤트 상품 -->
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>48,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>29,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="TEXT" class="product-tumbnail-round">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">정수는 물론 알칼리 이온수와 산성 이온수까지</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                        <!-- 이벤트 상품 -->
                                                            <!-- 상품 가격 : 할인표시-->
                                                            <p class="cost">2,190,000<span class="cost-won">원</span></p>
                                                            <!-- 할인된 가격 -->
                                                            <p class="sale-cost">2,090,000<span class="cost-won">원</span></p>
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>38,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>23,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/21/12/52/1000000039/1000000039_detail_09.png" alt="TEXT" class="product-tumbnail-round">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">저수조 없는 직수형</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            <!-- 상품 가격 -->
                                                            <p class="sale-cost">2,490,000<span class="cost-won">원</span></p>
        
                                                        <!-- 이벤트 상품 -->
                                                            
                                                            
                                                            
                                                            
        
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>48,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>29,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="TEXT" class="product-tumbnail-round">
                                                                <img src="https://view01.wemep.co.kr/wmp-sticker/34/202103/09/quwf6otxyamd.png" alt="이벤트" class="sale-event-icon">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">정수는 물론 알칼리 이온수와 산성 이온수까지</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            
                                                            
        
                                                        <!-- 이벤트 상품 -->
                                                            <!-- 상품 가격 : 할인표시-->
                                                            <p class="cost">2,190,000<span class="cost-won">원</span></p>
                                                            <!-- 할인된 가격 -->
                                                            <p class="sale-cost">2,090,000<span class="cost-won">원</span></p>
        
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>38,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>23,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/21/12/52/1000000039/1000000039_detail_09.png" alt="TEXT" class="product-tumbnail-round">
                                                                <img src="https://view01.wemep.co.kr/wmp-sticker/34/202103/09/quwf6otxyamd.png" alt="이벤트" class="sale-event-icon">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">저수조 없는 직수형</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            <!-- 상품 가격 -->
                                                            <p class="sale-cost">2,490,000<span class="cost-won">원</span></p>
        
                                                        <!-- 이벤트 상품 -->
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>48,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>29,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="TEXT" class="product-tumbnail-round">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">정수는 물론 알칼리 이온수와 산성 이온수까지</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                        <!-- 이벤트 상품 -->
                                                            <!-- 상품 가격 : 할인표시-->
                                                            <p class="cost">2,190,000<span class="cost-won">원</span></p>
                                                            <!-- 할인된 가격 -->
                                                            <p class="sale-cost">2,090,000<span class="cost-won">원</span></p>
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>38,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>23,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/21/12/52/1000000039/1000000039_detail_09.png" alt="TEXT" class="product-tumbnail-round">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">저수조 없는 직수형</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            <!-- 상품 가격 -->
                                                            <p class="sale-cost">2,490,000<span class="cost-won">원</span></p>
        
                                                        <!-- 이벤트 상품 -->
                                                            
                                                            
                                                            
                                                            
        
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>48,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>29,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="TEXT" class="product-tumbnail-round">
                                                                <img src="https://view01.wemep.co.kr/wmp-sticker/34/202103/09/quwf6otxyamd.png" alt="이벤트" class="sale-event-icon">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">정수는 물론 알칼리 이온수와 산성 이온수까지</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            
                                                            
        
                                                        <!-- 이벤트 상품 -->
                                                            <!-- 상품 가격 : 할인표시-->
                                                            <p class="cost">2,190,000<span class="cost-won">원</span></p>
                                                            <!-- 할인된 가격 -->
                                                            <p class="sale-cost">2,090,000<span class="cost-won">원</span></p>
        
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>38,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>23,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/21/12/52/1000000039/1000000039_detail_09.png" alt="TEXT" class="product-tumbnail-round">
                                                                <img src="https://view01.wemep.co.kr/wmp-sticker/34/202103/09/quwf6otxyamd.png" alt="이벤트" class="sale-event-icon">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">저수조 없는 직수형</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                            <!-- 상품 가격 -->
                                                            <p class="sale-cost">2,490,000<span class="cost-won">원</span></p>
        
                                                        <!-- 이벤트 상품 -->
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>48,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>29,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-list-element text-center col-xs-6 col-md-3 col-lg-3" onclick="">
                                                    <div class="product-tumbnail-boxing">
                                                        <!-- 상품 이미지 -->
                                                        <div class="img-gray">
                                                            <img src="https://cdn-pro-web-151-224.cdn-nhncommerce.com/biontech_godomall_com/data/goods/20/05/22/1000000002/1000000002_detail_023.png" alt="TEXT" class="product-tumbnail-round">
                                                        </div>
                                                    </div>
                                                    <div class="product-name-boxing">
                                                        <!-- 상품 제목/설명 -->
                                                        <p class="name-more">정수는 물론 알칼리 이온수와 산성 이온수까지</p>
                                                        <p class="name">바이온텍 알칼리 이온수기 BTM-1800</p>
                                                    </div>
                                                    <div class="product-price-boxing">
                                                        <!-- 이벤트 상품 -->
                                                            <!-- 상품 가격 : 할인표시-->
                                                            <p class="cost">2,190,000<span class="cost-won">원</span></p>
                                                            <!-- 할인된 가격 -->
                                                            <p class="sale-cost">2,090,000<span class="cost-won">원</span></p>
                                                        <!-- 렌탈가격 -->
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title">월 렌탈료 (<span class="font-weight-500">60</span>개월)</span>38,900<span class="cost-won">원</span></p>
                                                        </div>
                                                        <div class="display-block">
                                                            <p class="sale-cost display-block"><span class="cost-rental-title text-bold">총 렌탈료</span>23,340,000<span class="cost-won">원</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- ================ // 분리 section 4단 :: 상품 리스트 영역  ================ -->
                </div>
            </div>


        </main>
    </div>
    <div id="footer"></div>
</body>



<!-- js -->


<script type="text/javascript" src="../../assets/js/vendor/modernizr.min.js"></script>
<!--<script type="text/javascript" src="./assets/js/vendor/jquery.min.js"></script>	-->
<script type="text/javascript" src="../../assets/js/vendor/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/vendor/theme-vendors.js"></script>	
<script type="text/javascript" src="../../assets/js/vendor/theme.min.js"></script>	

<script type="text/javascript" src="../../assets/js/vendor/fresco/js/fresco.js"></script>

<script type="text/javascript" src="../../assets/js/common.js"></script>	
<script type="text/javascript">
	$(function() {
		$("#header").load('../include/header.html');
		$("#footer").load('../include/footer.html');
	});
</script>
</html>