<!-- header -->
    <header id="header">
		<div class="container">
			<div class="row">
                <!-- middle menu -->
                <div class="middle-menu">
					<div class="logo">
						<!-- <button type="button" onclick="Common.openGnbBtn()" class="btn mo-gnb-btn display-none sm-display-block">모바일 전체카테고리</button>  -->
						<button type="button" onclick="Common.openGnbBtn()" class="btn mo-gnb-btn display-none sm-display-block">모바일 전체카테고리</button> 
						<!-- <a href="./index.do" title="" class="display-block sm-display-none"><img src="http://${info.sp_si_domain}${logo}" alt="${info.sp_si_sangho}"></a>  -->
						<a href="../index/index.html" title="" class="display-block sm-display-none"><img src="../../assets/image/logo/fordLogo.png" alt="포드로고이미지"></a>
						<a href="../index/index.html" title="" class="display-none sm-display-block"><img src="../../assets/image/logo/fordLogo.png" alt="포드로고이미지"></a>
					</div>
                </div>
				<!--// middle menu -->
				
			</div>
		</div>
		
	</header>

	<!--// header -->